[2019-06-11 12:27] babysnakes commented on #881
Hey @corneliusweig, Let's tackle the sourcing issue later (I'm not even sure what it takes, I have to look).

First let's get it working. I installed docker with oh-my-zsh - default installation, didn't do anything beside the install command - and at first it didn't work. however, after I ran `compinit` it did work (checkout [this](https://github.com/zsh-users/zsh-completions/issues/277) ticket).

[2019-06-11 22:16] corneliusweig commented on #881
Hey @babysnakes, thanks for your quick response. Indeed it works also on my system, when I do

1. `skaffold completion zsh > $fpath/_skaffold`
2. `compinit`

So that is resolved then.

----

Now what about the direct sourcing, though. I was looking at the old code from the skaffold completion (which uses a zsh wrapper around the bash completion, see below). I wonder why that works without the indi

[2019-06-12 02:12] babysnakes commented on #881
Hey @corneliusweig

I'm not sure what it takes. playing around with it a little I got the infamous error of `_arguments:comparguments:325: can only be called from completion function`. Quick google search revealed a few people who managed to work around that in their case but it seems to come up a lot. let  me check for a few days and see if I can get something to work.

[2019-06-12 02:44] babysnakes commented on #881
Hey @corneliusweig

I'm sorry but looking at it a little further it doesn't seem it can work. _Zsh_ has more then one completion systems. I used the one that is used by the great [zsh-users/zsh-completion](https://github.com/zsh-users/zsh-completions) project. It offers all the niceties of having descriptions on completion, etc. However, it seems that this system can only be used as files inside `

[2019-06-12 17:59] rsteube commented on #881
@corneliusweig i think the magic happens here: `autoload -U +X bashcompinit && bashcompinit` and the completion is probably then registered by `_complete skaffold 2>/dev/null`.
Seems zsh supports bash completions which is why that script looks so unfamiliar to me: https://stackoverflow.com/a/3251836

Regarding adding the completion without fpath this seems to be actually possible with manual invoc

[2019-06-12 18:42] corneliusweig commented on #881
@rsteube Thanks for investigating this! I think it is safe to assume that `compinit` has already been correctly initialized when a user tries to `source <(cobracmd completion zsh)` or so. That means, that the `compdef` stuff could be moved into the completion template like so:
[code]
In my manual test that worked like a charm.

---

The question is: does the extra `compdef` call have any undesired

[2019-06-12 18:49] rsteube commented on #881
Yes, i was thinking the same had tried it out successfully as well.
Still investigating about side effects though until just now where i've simply grep'd the oh-my-zsh repo for compdef and as it seems quite some scripts do exactly that.
So i think it's safe to assume that it's ok to add that.

[2019-06-12 20:29] yashbhutwala commented on #881
Hey @rsteube @corneliusweig I'm running into this issue, and I applied your suggested fix: https://github.com/spf13/cobra/issues/881#issuecomment-501388100

So, now the tab does something, but I run into this error upon tab with global flags:

[code]

[2019-06-12 20:36] rsteube commented on #881
That looks more like a problem in the completion script itself. Did a short search and this came up: https://github.com/clap-rs/clap/issues/771#issuecomment-265759852

Are there some special characters in that line (like the square brackets)? I had a problem with the brackets myself in one completion and needed to add quotation for that.

see: #885

[2019-06-12 20:39] yashbhutwala commented on #881
Cool, thank @rsteube

[2019-06-12 21:12] corneliusweig commented on #881
Sounds fine to add that here as well. Do you want to open a PR? Otherwise I'll do that :)

[2019-06-12 21:19] rsteube commented on #881
can do - just a sec

[2019-06-12 21:23] corneliusweig opened #886 "Zsh completion never suggests files but only options"
An overhauled zsh completion was merged with #646. One drawback of that script is that it only ever suggests options. Say for example, I have a command `cmd` with option `--foo`. When I type
[code]
I would expect to see a suggestion list of all files in the working dir. However, it actually adds a `-` and shows the `--foo` suggestion.

It would be much better to trigger option completion only when

[2019-06-12 21:45] rsteube commented on #886
Since you added a specific completion for `cmd` you have overriden the default `_files` function.
Now unless you tell it that your command accept files it won't complete it for you.

`command.MarkZshCompPositionalArgumentFile(1)` might be the solution (complete files for first argument).

There's also the possibilty filtering by patterns:
https://github.com/spf13/cobra/blob/master/zsh_completions.

[2019-06-13 01:50] babysnakes commented on #881
@rsteube very cool, learned something new today 🙂.

[2019-06-13 23:01] corneliusweig commented on #886
Thanks @rsteube, I was not aware that this had to be enabled manually. :+1:

[2019-06-13 23:01] #886 closed

[2019-06-19 07:56] kasvith commented on #655
I recently got into same error

[2019-06-19 09:16] bmwiedemann opened #890 "zsh_completions produces indeterministic output"
@babysnakes might know the code.

Steps to reproduce on openSUSE or Debian
[code]

probably from using some unsorted hash output.

observed diff has low entropy, so sometimes 2 builds have identical results by chance
[code]

This output is generated by
./rclone genautocomplete zsh completion.zsh
via a call to GenZshCompletion

This bug was found while working on reproducible builds for openSUSE.

[2019-06-19 10:43] babysnakes commented on #890
Hi @bmwiedemann,

I'll try to look at it tomorrow but please provide a link to download the code. I don't know `osc` but when trying to run the command in your instructions it seems to require user/password and I don't want to register if I don't have to.

[2019-06-19 11:29] eparis commented on #890
That would happen if you were explicitly setting `cmd.Flags().SortFlags = false` but shouldn't be the default case...

[2019-06-19 11:47] babysnakes commented on #890
@eparis @bmwiedemann The reason I wanted to look at the code is that the diff looks a little weird, looking at the template I don't see how it would generate it (there's no `$words[2]` only `"$words[1]"`. However it seems to me that the problem is with command sorting and not flags (which
is `EnableCommandSorting` ?)

[2019-06-19 11:52] bmwiedemann commented on #890
Source is https://github.com/ncw/rclone/tree/v1.47.0 aka https://github.com/ncw/rclone/archive/v1.47.0.tar.gz

[2019-06-19 12:20] babysnakes commented on #890
@bmwiedemann,  You are using the old completion system. Because you mentioned me I thought that you are using the new system. Forget everything I said, I was confused 😄 .

@eparis please take over, I know nothing about the old system.

[2019-06-19 12:36] bmwiedemann commented on #890
Oh, I didnt expect new software to use such old code.

[2019-06-19 13:50] bmwiedemann commented on #890
I also tested rclone-1.48.0 and it also has this issue.

[2019-06-19 18:07] eparis commented on #890
I mean, it looks like this is 2 year old version of cobra and suffers from a problem that doesn't exist anymore. Nor sure what else we can do here. That old code is iterating over a map, so it makes sense why it would be unpredicable...

https://github.com/ncw/rclone/blob/v1.47.0/vendor/github.com/spf13/cobra/zsh_completions.go#L109

[2019-06-19 18:52] josharian opened #891 "why does 'cobra init' require --pkg-name when go.mod is present?"
The first line of go.mod contains the fully qualified import path of the module. Could `cobra init` just use it?

[2019-06-20 22:30] jharshman commented on #891
That assumes a `go.mod` file is present which is not required for `init` in a new directory.

[2019-06-20 23:32] josharian commented on #891
Right. But when it is present (as it was in my case), cobra could use it.

[2019-06-21 17:15] jharshman commented on #891
I don't see any immediate problem with that functionality.  If you want to open up a PR with your suggested changes, tag me and I'll take a look.

[2019-06-21 23:07] josharian commented on #891
Hmmm. Blocked on https://github.com/golang/go/issues/31761, in particular, the addition of golang.org/x/mod/modfile.

[2019-06-23 12:20] MichaelMure commented on #890
You can use my PR to "fix" the old generator: https://github.com/spf13/cobra/pull/801

[2019-06-25 10:49] #639 closed

[2019-06-25 10:52] bmwiedemann commented on #890
Proposed it there https://github.com/ncw/rclone/pull/3289
Thanks for your help. Nothing left to be done here...

[2019-06-25 10:52] #890 closed

[2019-06-27 11:25] Brannonj96 opened #895 "Use aliases for parent commands"
If I have a series of parent commands like
`rootCmd parentCmd [list|get|set|etc]`

is there a way to assign an alias for `parentCmd` so that it would appear
`rootCmd parentCmdAlias [list|get|set|etc]`?

Defining the Aliases inside parentCmd declaration doesn't seem to be recognized.

[code]

Edit: It could be a bug?  When I have alias as just `[]string{"oneAlias"}`. It is not recognized.  When I d

[2019-06-27 13:42] Brannonj96 commented on #895
Resolved it was a naming issue

[2019-06-27 13:42] #895 closed

[2019-07-01 04:18] medyagh commented on #836
+1

[2019-07-01 05:45] itskingori commented on #836
Just came across https://github.com/google/kf/issues/55 and there's a link to a comment explaining how it can be done, see https://github.com/google/kf/issues/55#issuecomment-493706608. I haven't tried it yet. That said, https://github.com/google/kf/pull/130 is an example PR of how that approach could be used

[2019-07-01 20:13] VineethReddy02 opened #897 "glide is unable to fetch the following packages"
## "k8s.io/kubernetes/pkg/kubectl/cmd"
## "github.com/spf13/cobra/doc"
## "k8s.io/kubernetes/pkg/kubectl/cmd/util"

glide is unable to retrieve above dependencies

[code]

My use case here is am trying to generate markdown docs from cobra library as mentioned in docs.
And bashcompletions for kubectl command (which is kubectl plugin).

[2019-07-01 21:09] cpuguy83 commented on #563
Or provde a new object like `cobra.CommandContext` which is the same as `Command` but with `context.Context` in the method signatures.
`cobra.Command` could just use a wrapped `cobra.CommandContext` and use `context.Background()`

[2019-07-02 06:59] aiddroid commented on #589
Same problem, which confused me a lot.

contents in .gofuzz.yaml
[code]

--

auto-generated code by Cobra:
[code]

shell command:
[code]

[2019-07-02 07:39] aiddroid commented on #589
The same problem which confused me for hours, so depressed! Is there anything wrong???

### ~/.gofuzz.yaml:
[code]

### code by cobra:
[code]
[code]

### shell command
[code]

[2019-07-02 08:34] bmwiedemann commented on #890
They updated cobra to 0.0.5 now. All working fine.

[2019-07-03 13:02] umarcor commented on #589
@aiddroid, you are explicitly marking 'url' as a required flag through `rootCmd.MarkFlagRequired("url")`, but you are not providing it when you run the CLI (`go run main.go`). If you want cobra/viper to pick the value from the config file when no CLI arg is provided, just remove `rootCmd.MarkFlagRequired("url")` from the cobra init function.

[2019-07-04 00:16] fprieur opened #898 "pass json string as flag remove double quotes"
Hi, I'm trying to pass a json string a flag

It seems like the rootCmd.PersistentFlags().StringVarP remove the double quote from flag value

**command using for testing**
`go run main.go version --pupconfig '{"flavor_name":"foo"}'`

**Setting the flag at the rootcmd level**
`rootCmd.PersistentFlags().StringVarP(&pupConfig, "pupconfig", "p", "", "Pup json configuration from storage")`

**Checking t

[2019-07-04 13:31] umarcor commented on #898
In the following example all four methods work as expected: printing or exporting `pupConfig` or `RootCmd.Flag("pupconfig").Value`.

[code]

[code]

[2019-07-04 14:43] fprieur commented on #898
Thanks @umarcor, it does work indeed on linux but I forgot to mentioned that I was on windows box with powershell

go version go1.12.5 windows/amd64

[2019-07-04 15:39] umarcor commented on #898
@fprieur, in that case, I think that the issue is related to powershell, neither to cobra nor to pflag. E.g. add `fmt.Println(os.Args)` just before `rootCmd.Execute()` and try:

[code]

[code]

[2019-07-04 18:10] fprieur commented on #898
Yeah that's what I thought, the escape string was the only case that worked for me also,
Thanks again @umarcor

[2019-07-04 18:10] #898 closed

[2019-07-05 13:37] pascal-oliva commented on #719
I have the same question about howto translate Cobra message :
like : (from --help)
"Usage" :
"Available Commands"
"Flags"

[2019-07-06 02:39] pookah-net opened #901 "--pkg-name is needed?"
Hi, I tried using the following: `cobra init gitHub.com/pookah-net/test`, from `go/src`, as specified in the README, to create a new Golang project using Cobra, and it kept telling me `Error: required flag(s) "pkg-name" not set` and giving me the help text.

I finally (!) figured out that `cobra init --pkg-name gitHub.com/pookah-net/test` was needed, instead. Is it supposed to be that way?

(Oh, i

[2019-07-06 12:13] umarcor commented on #901
Hi @pookah-net! This is being addressed in #878 nad #888. #891 is also related.

To achieve the behaviour you expect, you need to use either:

`cobra init ${GOPATH}/src/gitHub.com/pookah-net/test --pkg-name=gitHub.com/pookah-net/test`

or

[code]

@jharshman, would `cobra init` work in the second case, provided that it is being executed from `${GOPATH}/src/gitHub.com/pookah-net/test`?

[2019-07-06 13:22] pookah-net commented on #901
Ah, I see! I must have used the wrong search terms, because I didn't see those others.

Thanks!

[2019-07-07 18:41] #830 closed

[2019-07-08 00:13] jharshman commented on #901
@umarcor, yes but would still require `--pkg-name`

[2019-07-08 00:25] umarcor commented on #901
So, GOPATH is completely deprecated? I.e, even if `cobra init` is executed from a 'valid' and empty location (i.e. ${GOPATH}/src/gitHub.com/pookah-net/test), it will not infer `pkg-name` automatically? I'm not suggesting it is wrong, I just want to be sure about it.

[2019-07-08 15:24] jharshman commented on #901
@umarcor correct, the generator no longer cares about the GOPATH.

[2019-07-08 15:51] umarcor commented on #901
@jharshman, thanks!

@pookah-net, can you please close this issue? I believe that it is solved already.

[2019-07-08 17:28] pookah-net commented on #901
Thanks!

[2019-07-08 17:28] #901 closed

[2019-07-08 22:24] jharshman commented on #891
@josharian if this is blocked and has no immediate resolution I think it's appropriate to close this issue.

[2019-07-08 22:26] jharshman commented on #874
@JAicewizard is this an issue you are experiencing or a suggestion? Either way can you be more detailed in your report?

[2019-07-09 11:00] Prnyself commented on #206
I got an awkward question here. Since I initialize a flagSet, and add a string flag "zone" by `flagSet.StringVarP(&zone, "zone", "z", "", "zone to operate")`. Then I got two command "foo" and "bar", both of them use the "zone" flag:
[code]
Only command "bar" need set flag "zone" required:
[code]
However, in both the foo and bar command, the flag "zone" is set to required.
So, does that work as exp

[2019-07-09 14:17] seanjoe commented on #553
I have the same issue.
	rootCmd.PersistentFlags().BoolVar(&config.ShowDebugInfo, "debug", true, "Show debug info")
	rootCmd.AddCommand(prepareCmd)
	prepareCmd.PersistentFlags().BoolVar(&Auto, "auto", true, "help")
	rootCmd.AddCommand(buildCmd)
	buildCmd.PersistentFlags().BoolVar(&Auto, "auto", false, "help")
	rootCmd.AddCommand(deployCmd)
	deployCmd.PersistentFlags().BoolVar(&Auto, "auto", false,

[2019-07-09 14:21] seanjoe commented on #722
how can you fix it, I come across the same one @shoekstra

[2019-07-10 09:33] dhiller opened #903 "cobra.Command.Example does not support templates"
I'm currently working on [KubeVirts](https://kubevirt.io/) [ virtctl command](https://github.com/kubevirt/kubevirt/pull/2465) in order to adapt the examples output depending on whether the command is called either as `kubectl virt` or `virtctl`.

I noticed the `Example` field does not have templating support. Or did I just miss something here?

[2019-07-10 11:02] dhiller commented on #903
FTR: I have made use of [`cobra.AddTemplateFunc`](https://github.com/kubevirt/kubevirt/commit/b81cdf5eb1a9da399f48b3c18bfe445cb74c1300) to improve on my current solution, feels still a little awkward though.

[2019-07-10 11:58] JAicewizard commented on #874
This is a suggestion.

Commands are rarely added at runtime, most are predefined.
It would be nice to be able to do something like this:

[code]
Instead of having this:
[code]

Currently the only thing happening in the AddCommand is pre-calculations but those are all done with very little benefit and could be moved elsewhere(not pre-calculating or in an init function).
The only usage I found for `

[2019-07-10 12:08] MichaelMure commented on #752
This seems to be fixed now with the new ZSH completion.

[2019-07-10 12:08] #752 closed

[2019-07-10 16:07] jharshman commented on #897
Feels like an issue with Glide and not with Cobra. You might want to submit an issue on that project instead.

Just out of curiosity, are you getting any error messages from running glide:
`glide get github.com/spf13/cobra`

[2019-07-10 20:49] JAicewizard commented on #874
see https://github.com/JAicewizard/cobra/commit/09f0d088e590ec4dbfe77c631e5ccb56f5116cb5 for a version where you dont pre-calculate the padding lengths.
I will try to make it my fork fully implement this suggestion, then after you accept the feature itself I will open a merge request.

[2019-07-11 16:31] JAicewizard commented on #874
because of the VAST amount of public getters using the parent, I don't think its possible to make the commands field public without breaking new code in some situations. removing some getters from the public API would make it almost but I assume that would break someones code and is not desirable.
Although I personally think the API is a bit bloated, I can't make decisions about that. I'll leave i

[2019-07-12 15:19] mkrump commented on #870
Have the same question. Was curious as to the best way to handle this.

[2019-07-12 16:12] chrisgilmerproj commented on #870
Can you give an example of how you used the workaround? I'd love to take a shot at using it myself.

[2019-07-12 17:46] colin-axner commented on #870
[Here](https://github.com/cosmos/cosmos-sdk/blob/280734d0e37f16b725906ec2b151c0b20e7dfaf1/client/cmd.go#L10) is my workaround. [Here](https://github.com/cosmos/cosmos-sdk/blob/280734d0e37f16b725906ec2b151c0b20e7dfaf1/x/auth/client/cli/tx.go#L16) is how I setup the command fields. Hope this helps!

[2019-07-13 20:34] umarcor commented on #870
This is partially being addressed in #842.

[2019-07-14 14:27] umarcor opened #907 "Enable dependabot.com"
https://dependabot.com/

[2019-07-15 13:23] mustafaakin opened #908 "Execute same command concurrently"
I'm building an application that will listen text messages through slack and pass it through to CLI to execute messages. However, as the command object holds contextual data such as args, I'm not sure how can I reuse it concurrently safely.

The obvious solution would be to extract building the root command to a function so every time it is called a new struct is generated. Do you recommend such u

[2019-07-15 16:02] jharshman commented on #908
Why do you want to pass the Slack messages to the CLI?  It sounds like you want to build a Slack bot in which case there is a lot of documentation online on how to accomplish this.

In short, your application is going to want to listen for slack message events and then do something for that event. From that point, concurrently handling events is a pretty simple addition.

[2019-07-15 16:10] jharshman commented on #897
@VineethReddy02 have you resolved your issue?

[2019-07-15 16:17] jharshman commented on #829
@rhugga, I cannot recreate the issue.

[2019-07-15 16:17] #829 closed

[2019-07-15 16:18] mustafaakin commented on #908
Thanks for the input but you are not answering the question. Get message and do something is very generic. Besides being submitted by Slack, most of the functions are just same text commands that cobra parses by using `os.Args[1:]`.

My Slackbot is simple, not contextual or anything, like writing `kubectl get -n kube-system pod` works in terminal, it would work much of the same with Slack messages

[2019-07-15 16:20] jharshman commented on #823
@rmasci it seems like your question has been answered by #725 .  If so, please close out this issue.

[2019-07-15 16:39] jharshman commented on #908
In short, if you are creating cobra.Command structures on the fly as messages come in, and you want this to be thread safe; I don't believe the feature you are looking for exists.

[2019-07-15 16:59] 1138-4EB commented on #823
@jharshman, since there is no intuitive one-liner solution to this question, I think it might be worth keeping this issue open. Although the solution in #725 works, it is not clean and it is not properly integrated in the codebase. Therefore, I think this can be kept open until some equivalent to `checkRootAlias` is added to the codebase.

[2019-07-15 17:25] umarcor commented on #908
@mustafaakin, IMHO, you should try to provide a more detailed example that explains why you need to create cobra.Command structures on the fly. AFAIK there is no limitation at all to "execute same command concurrently". This is possible either by calling the same binary multiple times, with different CLI arg values; or starting a server that listens at a port/socket (I believe this is what @jharsh

[2019-07-15 17:56] jharshman commented on #908
Yes there is too much obscurity in what is attempting to be accomplished here.  I find myself instead guessing.  @mustafaakin can you please provide a more detailed example or perhaps a link to the code itself?

[2019-07-15 18:14] jharshman commented on #813
Cobra's `init` command has been re-worked and no longer fails on non-empty directories.
#817

[2019-07-15 18:14] #813 closed

[2019-07-15 18:15] #795 closed

[2019-07-15 18:16] #720 closed

[2019-07-16 20:01] provcristianmaluenda opened #909 "Problem when an argument is empty"
Hi,
I am facing this issue. When an argument is empty, **username** in this case:
```command --username $USERNAME --pwd $PWD```
Cobra assigns `--pwd` to `--username`.
If both are required, the error says `required flag(s) "pwd" not set`.
The message is confused, and I don't understand why this happens.

---
Library versions:
[code]

Regards,
Cristian.

[2019-07-16 22:09] jharshman commented on #874
Thanks for your suggestion @JAicewizard, at this point in time, I think it would be best to avoid breaking changes to the API.  This is something to keep in mind for the future though.

[2019-07-16 22:09] #874 closed

[2019-07-16 22:21] jharshman commented on #909
I'm not sure what you mean by this. The message `required flag(s) "pwd" not set` is correct because `--username` is being set to `--pwd` so it's requirement of being required is filled.

However, to address your primary issue, you can use "=" to ensure that the following flag is not read accidentally in the case of an empty value.

i.e:
[code]

[2019-07-16 23:00] umarcor commented on #909
Alternatively, I think you can 'fix' it by using quotes around the variable, `"$USERNAME"`, which is good practice regardless of cobra.

[2019-07-16 23:36] josharian commented on #891
As you wish.

[2019-07-16 23:36] #891 closed

[2019-07-16 23:40] provcristianmaluenda commented on #909
Thanks for the quick replay.
I tried using "=" and quote in the env var, but the validation doesn't work. In this case, Cobra considers the argument as `empty` ( `""` ).
I think I can try to implement my own type.

[2019-07-17 00:06] chrisgilmerproj commented on #870
Thanks a ton for the example!

[2019-07-17 00:35] umarcor commented on #909
Do you mean that it fails because it does not accept an empty argument? Or that you cannot handle it because you need to tell apart a default `empty` and a user-provided `empty`?

[2019-07-17 10:06] fallais opened #910 "How can I include Cobra in my actual project structure ?"
I have this structure (not exhaustive) :

[code]

**server** and **collector** are my two micro-services. They both have a **Dockefile**. That means I need to create two images at each build. Boring. That is why I want to migrate to Cobra.

But it seems that my vision of `cmd` interferes with the Cobra's one.

How can I do please ? I think about putting a `main.go` at the root of `cmd/`. But how c

[2019-07-17 15:33] jharshman commented on #910
@fallais I think I need a bit more clarity on your question.
What exactly do you want to utilize Cobra for?

[2019-07-17 17:31] provcristianmaluenda commented on #909
It doesn't work because the flag exists but it is an empty string. So, the `required` validation doesn't work in this case. I have two options:
* Add a preRun function to validate the arguments
* Create a custom type.

[2019-07-17 18:46] umarcor commented on #909
I cannot reproduce. See:

[code]

[code]

[2019-07-17 19:35] jharshman commented on #909
@umarcor which version of cobra did you try to reproduce this with?
I notice that @provcristianmaluenda is using an older version. I haven't looked into it yet, but maybe a bug fix occurred between 0.0.3 and current 0.0.5

[2019-07-17 20:01] provcristianmaluenda commented on #909
Thank @umarcor for your example.
This is the behavior that I think it is not desired.
[code]

[2019-07-17 20:50] jharshman commented on #909
This is expected behavior.
https://godoc.org/github.com/spf13/cobra#Command.MarkFlagRequired

It guarantees the presence of the flag, not the argument.

[2019-07-17 20:59] provcristianmaluenda commented on #909
You are right. My bad!
Thank guys for your help!

[2019-07-17 21:03] jharshman commented on #909
No problem.

[2019-07-17 21:03] #909 closed

[2019-07-18 01:41] umarcor commented on #909
I used the latest `master`.

I think that this feature request makes sense, but not as the default behaviour for `MarkFlagRequired`. Either `MarkFlagRequired` could accept a `RequireNonEmpty` boolean argument, or another function could be added (say `MarkRequiredNonEmpty`). However, this deserves some care, as it is related to spf13/viper#276 (also spf13/viper#657).

Meanwhile, you can add a check

[2019-07-18 12:28] umarcor commented on #910
@fallais, thanks for the clarification. Yes, cobra is suitable for your use case. However, let's ignore the Dockerfiles for now; it is not relevant for the golang codebase, and it adds unnecessary complexity to the question. I would rephrase the question as:

*I have two independent golang apps which are built to separate binaries. Now, I want to integrate/merge both of them in a single binary. Ho

[2019-07-18 16:52] fallais commented on #910
Thanks  a lot for this really complete answer !! I can't wait to test this ! :)

[2019-07-19 10:14] VineethReddy02 commented on #897
@jharshman sorry for the late reply. I managed to make it work, I had an issue with ```glide.yaml```

[2019-07-19 14:36] #897 closed

[2019-07-19 22:07] anentropic opened #914 "Docs needed: how best to handle errors in Run"
Reading the documentation on the front page, it is not clear to me what the best practice for raising errors from a command's `Run` func is?

Looking at usage of cobra in other projects, the way seems to be just to return `os.Exit(1)` from the body of the `Run` func. I'm a total Go noob so my instinct is probably be wrong, but this didn't feel quite 'right'. Wouldn't that bypass any `PostRun` hook

[2019-07-20 04:38] RajatVaryani opened #915 "test error message"

[2019-07-20 04:38] #915 closed

[2019-07-20 07:55] frederikhors commented on #725
Thanks @1138-4EB, I'm waiting for https://github.com/spf13/cobra/issues/823 too.

[2019-07-22 15:36] dimitarvdimitrov commented on #652
I had the same issue and it was caused by me having symlinks in my project directory. You can do
[code]
to resolve all symlinks and then do `cobra add|init ...`

[2019-07-23 10:10] umarcor commented on #652
I'd say that this PR does not apply anymore, because of #817 (see also #904). @galileo-pkm, @dbrimley, @XiaoyeFang, @jmvbxx, could try the latest `master`?

@dimitarvdimitrov, could you please provide some context? Which is the structure of the directory where you did need to execute `pwd -P` for `cobra init` to work?

[2019-07-24 16:12] jharshman commented on #910
@fallais , sounds like you got your questions answered.  I'm going to go ahead and close this issue. If you have any more follow up questions, feel free to reach out again!

[2019-07-24 16:12] #910 closed

[2019-07-25 12:14] rogercoll opened #917 "Markdown generator failing due to library dependence"
When trying to build the markdown documentation using: https://github.com/spf13/cobra/blob/master/doc/md_docs.md
The following library fails on build: github.com/cpuguy83/go-md2man/md2man

`# github.com/cpuguy83/go-md2man/md2man
../../../go_projects/pkg/mod/github.com/cpuguy83/go-md2man@v1.0.10/md2man/md2man.go:11:16: undefined: blackfriday.EXTENSION_NO_INTRA_EMPHASIS
../../../go_projects/pkg/mod/

[2019-07-26 00:26] hellflame opened #918 "any possible to have only argument's shorthand"
[code]

I thought if there is no error occur, it should be some issue. also, flags with only shorthand is reasonable and common in many programs like `ls`

![image](https://user-images.githubusercontent.com/7326970/61917171-5814a980-af7e-11e9-98e4-c54b64e04f02.png)

[2019-07-26 10:25] yujianFresh opened #919 "unknown command return"
when I execute **go run main.go -h**,
it can print
[code]
then I execute **go run main.go token-tool -h**
it return
[code]

can anyone show me the question ?

[2019-07-26 16:15] jharshman commented on #918
@hellflame, this is coming from the pflag package.  Here's a link to the GoDoc:
https://godoc.org/github.com/spf13/pflag

I think the functionality you're looking for is in there. If not, https://github.com/spf13/pflag would be the appropriate place to create an issue.

[2019-07-27 16:19] mydockergit opened #920 "How to check if any flag was set ?"
I have CLI program I wrote in Go.
I have something like 20 flags.
Is there a way to check if non of the flags were assigned?
Something similar to `len(args) < 0` ?

I saw that there is the `Changed` function:
	flagset := cmd.Flags()
	flagset.Changed(<name>)

But I need to provide the name of the flag and I don't want to specify all the 20 flags.
I saw that there is `orderedActual` that has the fla

[2019-07-29 17:05] dallbee opened #921 "`command.Mark(Persistent)FlagRequired` Does not look at inherited flags"
I _believe_ this is broken behavior, but the documentation isn't entirely clear.

These functions call `return MarkFlagRequired` with `Flags()` and `PersistentFlags()`, respectively. That causes them to not be aware of any inherited flags on the command.

The documentation for `MarkFlagRequired`:
[code]

Which reads as though it shouldn't distinguish between inherited flags and local flags. Otherw

[2019-07-30 06:46] bruceadowns commented on #582
My PR subsumes PR submitted by @chriswhelix.

[2019-07-30 12:49] umarcor commented on #652
@jharshman, should this be closed?

[2019-07-30 12:50] umarcor commented on #917
Hi @rogercoll! Could you please provide the exact sequence of commands, so that we can reproduce the context?

[2019-07-30 12:54] umarcor commented on #919
`token-tool` seems to be the name of the app/binary. Since you are not building it, but running it instead, there is no need to provide `token-tool` as an argument. It is incorrect, indeed. You should provide one of the two valid subcommands instead (`eth` or `help`). So:

[code]

or

[code]

[2019-07-30 12:59] umarcor commented on #920
@mydockergit, I think that [spf13/pflag](https://github.com/spf13/pflag) or [spf13/viper](https://github.com/spf13/viper) (spf13/viper#276, spf13/viper#657) would be the appropriate places to create an issue, because this functionality is not implemented in cobra.

[2019-07-30 14:38] #652 closed

[2019-08-02 02:14] danielhelfand opened #925 "SetArgs for Non String Values"
This issue is related to the [SetArgs(a []String) function](https://github.com/spf13/cobra/blob/master/command.go#L210) of `command.go`. As of now, `SetArgs` can only be passed an array of strings.

It would be helpful if `SetArgs` could also accept non string values to assist with use cases like testing a CLI developed with cobra.

My use case is that I am trying to pass int values to a CLI devel

[2019-08-02 03:31] danielhelfand commented on #925
I see that this can be accomplished as follows:

[code]

It would be helpful to document this somewhere or provide an example.

[2019-08-02 03:31] #925 closed

[2019-08-02 16:21] lpabon commented on #770
If you are coming here from Google, in our project we wrapped the var and init sections of the commands in functions so that they can be called by unit tests and re-initialize all variables.

* [Example command](https://github.com/portworx/px/blob/cb2e24b09cd1dbeadd3cf5f736882af56fae7110/cmd/version.go#L30-L55)
* [Registration of the command](https://github.com/portworx/px/blob/cb2e24b09cd1dbeadd3

[2019-08-02 18:45] dieseldesai opened #926 "Order of bool flag causes misleading error message."
[code]

When I run `test sub --flag`, the command runs successfully
When I run `test --flag sub`, I get the error `Error: unknown command "sub" for "test"`

[2019-08-02 20:27] kyp0717 opened #927 "Create subdirectories in cmd folder"
I would like to organize the files in several subdirectories inside the cmd folder.  Is this possible?

[2019-08-02 20:41] #927 closed

[2019-08-02 21:44] dieseldesai commented on #926
I'll add a note that this issue does not occur if "TraverseChildren" is not set to true

[2019-08-03 17:57] kyp0717 opened #928 "Add sub commands not in the /cmd folder"
Hi.  I have so many commands that I would like to organize into subdirectories.  My question is how to add sub commands that live in a sub directory in /cmd folder.  Please advise.

Thanks,
Ky

[2019-08-04 13:58] kyp0717 commented on #928
Sorry not needed anymore.

[2019-08-04 13:58] #928 closed

[2019-08-06 00:41] tommyknows commented on #914
To suppress the usage, use the `SilenceUsage` [field](https://github.com/spf13/cobra/blob/master/command.go#L122).

However, I totally agree with you on that it needs some kind of documentation.
Currently wondering why `PersistentPostRun`s are not executed when `RunE` returns an error. This is, in my opinion, not obvious. And I would like to still run the `PersistentPostRun`, instead of just exiti

[2019-08-06 21:40] Pixcell commented on #917
Hi @umarcor,

I am having the same issue.

Please find the relevant code below:

[code]

Root command
[code]

[2019-08-06 21:50] Pixcell commented on #917
@rogercoll @umarcor ,

Looking at https://github.com/spf13/cobra/issues/805,

I found out that locking the version of  blackfriday to 1.5.2, instead of 2.0 as automatically detected, did the trick.

Gopkg.toml
[code]

[2019-08-07 10:54] rogercoll commented on #917
@Pixcell thanks for this arrangement. There's a problem with russross/blackfriday library in 2.0 version. For now, downgrade manually to 1.5.2

[2019-08-07 10:54] #917 closed

[2019-08-09 15:28] lieut-data commented on #908
I'm actually proposing doing the same thing (except for Mattermost, not Slack) in this help wanted ticket: https://github.com/mattermost/mattermost-server/issues/11843.

We currently have a slash command model that allows users to type a message like:
[code]

but plugin authors have to process this sequence of instructions manually. In the ticket, I propose an idea to proxy the `do something --coo

[2019-08-09 20:25] umarcor commented on #908
@lieut-data, if I didn't get it wrong, it is possible to prototype what you want by building two binaries, as suggested above. One would be the cobra-pased consumer, and the other one your interface/producer. That will let you do your thing, independently of when/how this issue is solved.

When the prototype is ready, the next step would be to expose the entrypoint to the consumer, import it as a

[2019-08-09 20:36] umarcor commented on #917
@Pixcell, thanks for reporting the solution! Since `Gopkg.toml` is specific to go dep, and go mod is used in this repo instead, I believe there is little we can do.

Nonetheless, it might be worth adding a note in the README explaining why blackfriday <=2 is required. @rogercoll, do you have any reference we can use to explain why blackfray 2 cannot be used?

[2019-08-12 20:18] relloyd commented on #655
I have a similar issue in that the configured default values for flags are not set if they are missing from the CLI.  Parsing fails with errors like the one above, "Error: required flag(s) "test" not set".  I would have expected the default value to be assumed for the flag if it's missing from the CLI.

I have to call `Flags.Set(<name>,<default value>)` even though I created the flag with a defaul

[2019-08-15 19:22] apoorvam opened #930 "Unable to get Bool flag value passed from cli"
I'm trying to add a bool flag and bind it to viper env, but it always shows flag value as `false`.
[code]

How do I get it to `true` when i pass --nocolor flag?

I tried using `BoolVar` func to debug the issue. But this is also not considering the bool flag.
[code]

Ouput:
[code]

Cobra version:   "0.0.5"

[2019-08-15 20:36] apoorvam commented on #930
Okay, got the issue. I was trying to get flag values from `init` function. Ref: https://github.com/spf13/cobra/issues/511

[2019-08-15 20:36] #930 closed

[2019-08-16 07:01] yevgenypats opened #931 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-16 12:51] eparis commented on #931
I love testing. All the testing. If you have a PR I'll very happily take a look.  Though I wonder if we are more likely to find problems in pflag instead of here in cobra...

[2019-08-16 13:22] yevgenypats commented on #931
@eparis I think you are right, pflag would be the right place to write fuzz tests at least in the beginning. So I'll Contribute the PR in pflag https://github.com/spf13/pflag.

Also, I need to mention that we have a [reward program](https://fuzzit.dev/2019/08/12/announcing-rewards-for-go-rust-oss-projects/) in case you have time/want to implement this yourself I would be happy to reward you as wel

[2019-08-18 11:42] andig opened #932 "Document howto generate completions"
https://github.com/spf13/cobra/blob/master/zsh_completions.md mentions its supported by root command. It would be great to document how to property create complextions for bash and zsh both, potentially switching on detecting the current shell.

[2019-08-22 09:42] andig opened #933 "Generated files are not `goimports`-ed"
See https://travis-ci.org/andig/ingress/builds/575241832#L232 for an example. It seems as if cobra templates prefer spaces for indent while goimport wants tabs.

Would it make sense to enhance the cobra utility command to goimport or gofmt the generated assets?

[2019-08-22 20:05] tiagotele commented on #770
Hi! I think you can get inspiration from who are using Cobra like [helm]https://github.com/helm/helm/tree/master/cmd/helm) or [kubectl](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/cmd_test.go)

[2019-08-23 13:14] rck opened #934 "Markdown links broken if sub command calls ResetCommands()"
The problem is that the file of the subcommand is generated without the prefix (e.g., as `child.md`), while the `parent.md` links it as `* [parent child](parent_child.md) ...`. This is best demonstrated by this simple example:

[code]

[code]

While this reproducer looks pretty esoteric, the real program uses multiple sub commands that share most persistent flags. With the exception of a few - ver

[2019-08-23 15:16] umarcor commented on #933
I think this could be solved by fixing the template (https://github.com/spf13/cobra/blob/master/cobra/tpl/main.go), instead of requiring some specific lint/format tool. It seems that `AddCommandTemplate` uses tabs only, but spaces are used in `MainTemplate` and `RootTemplate`. The specific error you referenced is because of line 13.

[2019-08-23 15:39] andig commented on #933
I see. #876 seems to contains too many changes at once to actually make it?

[2019-08-23 15:48] umarcor commented on #933
Sure. I just added it as a reference. Go ahead, open #935 and ping @jharshman. This minor change is likely to be merged easily on it's own.

[2019-08-26 19:36] serverhorror commented on #773
#833

[2019-08-27 05:07] KowloonZh opened #938 "ambiguous import: found github.com/ugorji/go/codec in multiple modules when i use cobra and gin both"
I noticed viper v1.4.0 use the package "github.com/ugorji/go v1.1.4 // indirect", but cobra v0.0.5 still used viper v1.3.2

So can you upgrade cobra go.mod with viper 1.4.0

[2019-08-27 08:45] #773 closed

[2019-08-30 22:36] mescanne commented on #862
I agree -- I'm having the same challenge. I'm not sure the rationale for excluding it in the first place. There are manpages for non-commands, e.g., man hosts usually brings up a manpage for the configuration file /etc/hosts. I would be inclined to just change it to include additional help topics, but it's not clear what this may break or even why it would matter.

[2019-08-31 00:51] eparis commented on #862
That doesn't seem unreasonable. Although such pages shouldn't be part of man(1) since it wouldn't be for a command. Maybe in man(7) ?

[2019-08-31 19:59] mescanne commented on #862
Would make sense -- in my case, I just want to have markdown generated. It would allow me to have all of the documentation contained within the CLI, but then exposed through generated markdown.

[2019-09-02 07:39] 030 opened #940 "bettercode"
One could add bettercodehub analysis to the repository and include the badge in the README.

https://bettercodehub.com

[![BCH compliance](https://bettercodehub.com/edge/badge/030/cobra?branch=master)](https://bettercodehub.com/)

[2019-09-02 12:04] rishav-csenitjsr opened #941 "Remove type of variable (ex-string) in flags when using StringVar in cobra commnad"
when i am using flag (using StringVar), flag is showing like this:

  **--config  string  config file (default is $HOME/.xyz.yml)**

I don't want to show the type of variable in my flag i.e. I want my cobra to show below flag :

  **--config               config file (default is $HOME/.xyz.yml)**
can you please fix this issue @eparis

[2019-09-02 12:28] rishav-csenitjsr opened #942 "Idea: Can we take inputs in flag like --arr=["a", "b", "c"]"
while using cobra flags, can I take values of flag like ["a", "b"] from the command line ?
@eparis @spf13 @jharshman

[2019-09-02 20:21] 030 commented on #654
@eparis Based on your comment this issue should be closed.

[2019-09-02 21:23] 030 opened #943 "Why does `--version` not work?"
One of the issues and README indicates that if one adds:

[code]

that `--version` would return `Version: ` in this case, but instead:

[code]

was returned. What was missed?

[2019-09-03 14:59] gonearewe opened #945 "Wrong comment"
in command.go Line :303
it reads:
<pre>
// InOrStdin returns output to stderr
func (c *Command) InOrStdin() io.Reader {
	return c.getIn(os.Stdin)
}
</pre>
the comment seems to be wrong

[2019-09-03 17:12] jharshman commented on #942
@rishav-csenitjsr This is outside the scope of the Cobra package.

The godocs for pflag should answer your question. https://godoc.org/github.com/spf13/pflag#FlagSet.StringSlice

[2019-09-03 17:12] #942 closed

[2019-09-05 09:47] umarcor commented on #582
@bruceadowns, should this be closed because of #922?

[2019-09-05 15:35] bruceadowns commented on #582
Yes.

[2019-09-06 00:13] umarcor commented on #943
Hi @030! Please, read carefully the paragraph/section you are referring to. I believe that both the description and the functionality are correct, but you might have read too fast:

Hence, you are customizing the format/template, but you did not enable it.

Example of adding a Version **field** to a command:

[code]

Furthermore, I think that the description is correct, but incomplete. It might/sh

[2019-09-06 08:35] plo- commented on #938
Yes it's really annoying... Thanks in advance!

[2019-09-06 15:00] danielhelfand opened #950 "Display --help Suggestion Every Time an Error Occurs"
I am wondering what the best practice would be for displaying a suggestion to run `--help` would be after every error message without displaying usage. I would like it for the suggestion to be specific to the root command and subcommands ran.

An example would be that a user types a wrong command or misuses a command. The resulting message would be:

`Run rootcommand  subcommand --help for usage.`

[2019-09-06 21:50] umarcor commented on #950
Hi @danielhelfand! This partially addressed in #841 and #842 (draft). Precisely, error messages are enhanced to properly identify the following contexts:

[code]

Then, in #842 generation of help/usage is reworked. See function [`helpHint`](https://github.com/spf13/cobra/pull/842/files#diff-9c42b524cb14ca001c61267826cbefb1R948).

It'd be great if you could have a look or try them and suggest any e

[2019-09-06 21:54] umarcor commented on #941
Hi @rishav-csenitjsr! I think that this might be handled by pflag, and not by cobra. Please, see https://github.com/spf13/cobra/blob/master/command.go#L478.

[2019-09-08 01:41] devglrd opened #951 "Better title for this package ?"
**Gobra** is not a better name ?

Make reference to go.

[2019-09-08 01:44] #951 closed

[2019-09-08 09:49] #943 closed

[2019-09-08 12:07] 030 commented on #943
@umarcor Thanks for the comprehensive explanation. Now it works. :+1:

[2019-09-08 13:34] umarcor opened #952 "GitHub Actions"
It seems that GitHub Actions (beta) is enabled for @spf13's repos, so it works here: https://github.com/spf13/cobra/actions

I think we should migrate from Travis CI (and maybe circleci) to GitHub Actions, and add macOS and Windows jobs too.

Ref #907

[2019-09-09 16:08] sofianito opened #956 "Return a Tuple (exitCode int, err error)"
Is it possible to have something like RunEE: func(cmd *cobra.Command, args []string) (exitCode int, err error) {}

I want to be able to return a specific exitCode (i.e. os.Exit(exitCode) when an error happens?

Any help appreciated.

Thx

[2019-09-09 20:47] danielhelfand commented on #950
@umarcor Thanks for all this information! I'll take a look and keep up with these updates. This looks great so far though. Glad to see this is being worked on.

[2019-09-10 06:42] #733 closed

[2019-09-10 20:51] josdotso opened #957 "How does etcd play a role in cobra?"
For example, how does etcd play a role in cobra?

https://github.com/spf13/cobra/blob/master/go.sum#L5

If this is a mistake, perhaps there are others and maybe `go mod tidy` would help?

If I'm completely off-base, sorry about that :)

[2019-09-10 20:54] eparis commented on #957
@umarcor I'm not sure why it's in there....

[2019-09-10 21:17] eparis commented on #957
Not that having the checksum of a random version of etcd hurts anything, I don't know it's listed. It wasn't ever part of cobra.

[2019-09-11 01:59] umarcor commented on #957
@josdotso, @eparis, file `go.sum` contains all the dependencies of cobra, recursively. If you want to see which are the explicit/direct dependencies only, you need to look at `go.mod`. In order to understand why etcd is listed as an indirect dependency, you can use `go mod graph`:

[code]

So, `etcd` and `go-etcd` seem to be dependencies of viper. These are/were listed  in viper's [go.mod](https:/

[2019-09-11 09:18] Nuru opened #958 "Please allow booleans to be set false with `no-` prefix"
@eparis [wrote](https://github.com/spf13/cobra/issues/613#issuecomment-357706597)

This behavior is unlike any other tool I have encountered. The behavior I am used to and consider "normal" for Unix commands, for boolean options, is:

- For short flags, like `-b`, the option toggles the default value when present. There is generally no way to affirmatively assert the default value with a short fla

[2019-09-11 15:19] umarcor commented on #958
Hi @Nuru! I think that this isssue belongs to spf13/pflag, which is the repo used by cobra to define flags. See, for example spf13/pflag#214, spf13/pflag#213, spf13/pflag#139, spf13/pflag#171...

[2019-09-11 17:48] umarcor opened #959 "Maintenance/governance of this project"
Earlier this year, in March, I gathered multiple pending PRs with minor/easy fixes/enhancements in a branch I named `trivial`, which was then merged by @eparis. This was almost the only merged contribution since the beginning of the year and until June. @spf13 stepped by, and some long-waiting PRs, such as @jharshman's vgo support, were merged. @spf13 also replied to some other issues, and request

[2019-09-11 19:36] bogem commented on #959
I contributed actively in 2017 but since 2018 I have a part-time JavaScript job while I'm doing my bachelor in university, so unfortunately I don't have any time for cobra and open source generally. Since then I don't know what is happening in cobra.

Anyway I check Github and notifications every day and see all issues and PRs where I mentioned. But I don't merge them or make any reviews, because

[2019-09-11 20:11] bep commented on #959
My involvement in this and many other projects limits itself mostly to issues that hurt/benefit me. That is the time I have to spend.

[2019-09-11 22:00] spf13 commented on #959
I (obviously) started Cobra as part of Hugo. It has since taken a life of
it's own, being used in most critical cloud infrastructure tools.

In my current role as the product and strategy lead of Go, I regret that I
don't have a lot of time to code, ironically. When I do have time I often
build projects using Cobra and try to keep it up a bit. That's not very
often.

One of the challenges of so mu

[2019-09-11 22:15] josdotso commented on #957
thank you!

[2019-09-11 23:14] umarcor commented on #957
@josdotso, since it is answered, would you mind closing this issue?

[2019-09-15 15:24] epk commented on #959
While I don't have experience developing cobra, I have worked on a quite a few projects using cobra.

I'd be interested in keeping this project moving and learning it inside out along the way.

cc: @spf13

[2019-09-16 00:18] umarcor commented on #959
First off, thanks a lot to all of you. I was hesitant to open this issue for several weeks, and I'm glad that it was welcome.

This is my main fear, indeed. There have been three major contributions since 2016: https://github.com/spf13/cobra/graphs/contributors?from=2016-01-04&to=2019-09-04&type=c. I feel that neither of the three authors (@bogem, @jharshman, @babysnakes) had to gain a deep knowle

[2019-09-17 01:35] jharshman commented on #941
@rishav-csenitjsr , @umarcor is correct, please make your issue or PR on the pflag repo.

[2019-09-17 01:35] #941 closed

[2019-09-17 01:37] jharshman commented on #918
@hellflame I'd rather you don't cross reference this issue from pflag here. Please post your issue on the pflag repo.

[2019-09-17 01:37] #918 closed

[2019-09-17 01:39] jharshman commented on #952
I have no problem piloting Github Actions. But I would like to know what it get's us over what we already are using.

[2019-09-17 10:39] qingguee opened #960 "about hcl LICENSE"
Hello,
Our software is using cobra, so we'd like to know have cobra modify anything about hcl?
I guess cobra didn't, but could you help to confirm?

On, page below, hcl is using MPL. So, if I understand correctly, if corbra modify hcl, then corbra need be MPL.
https://github.com/hashicorp/hcl/blob/master/LICENSE

BRs,
Fan

[2019-09-17 12:22] knz opened #961 "Flag() docstring is incorrect, also need way to get merged flags before parse"
At github.com/cockroachdb/cockroach we have a need to do a few things with command line parsing that would really benefit from a single accessor to the complete flag set, including both local and persistent flags.

Today the doc string for the `(*Command) Flags()` method says "Flags returns the complete FlagSet that applies to this command (local and persistent declared here and by all parents)" b

[2019-09-17 12:34] umarcor commented on #952
- Better **integration of permissions**. Since Actions is built in GitHub, it is possible to use secret tokens without explicitly managing/setting them. Moreover, API calls are internal between GitHub services, so there is a smaller surface for potential attacks/leaks/issues.
  - This is not used ATM. However, in the future I would suggest to deploy binaries of an example/demo project. This would

[2019-09-17 12:41] umarcor commented on #960
Hi @qingguee! IANAL, but hashicorp/hcl is NOT a direct dependency of cobra. See https://github.com/spf13/cobra/blob/master/go.mod. It is a direct dependency of spf13/viper, though (see https://github.com/spf13/viper/blob/master/go.mod). Therefore, I think that the appropriate location for this issue is https://github.com/spf13/viper/issues.

[2019-09-17 13:40] umarcor commented on #961
Hi @knz! Thanks for opening this issue! Since it seems that you put some effort in debugging this issue, would you mind sharing some tests/MWEs with us? You can either add them here or, ideally, suggest a PR that adds as many tests as you feel comfortable to ensure that the behaviour you expect is fullfilled. Of course, it will fail, as the current implementation seems not to be correct. Neverthel

[2019-09-18 04:56] qingguee commented on #960
You are right. I will file a issue to viper.
Thank you so much.

BRs,
Fan

[2019-09-18 04:56] #960 closed

[2019-09-19 03:14] jschwinger23 opened #963 "failed to install v2"
[code]

[2019-09-19 03:19] #963 closed

[2019-09-22 18:07] IsaccBarker commented on #758
Please tell us why so in the future people can be helped.
Sorry for my ¡por english!

[2019-09-23 12:34] igomez10 commented on #770
Hi! @lpabon your links are broken. Could your reupload? :pray:

[2019-09-23 13:12] ClaytonNorthey92 opened #965 "Set Bool Flag in RootCMD"
I am using the `BoolVar` method to set a package variable to the value of a boolean flag passed in the cli, but it is always set to false.  I am wondering what I am doing wrong.

Quickest way to reproduce:
command:
[code]

`main.go`
[code]

`go.mod`
[code]

The above panics because `debug` is alway `false`. From what I understand, `BoolVar` should be setting the package variable to `true` since I

[2019-09-23 13:31] umarcor commented on #965
I'm afraid that you example produces the same output as:

[code]

Please, read the documentation carefully. You can use the generator (https://github.com/spf13/cobra#using-the-cobra-generator) to create a basic project, or you can use https://github.com/spf13/cobra/blob/master/cobra/main.go and https://github.com/spf13/cobra/blob/master/cobra/cmd/root.go as a reference.

[2019-09-23 13:36] ClaytonNorthey92 commented on #965
okay I was trying to create the smallest example I could to reproduce what I thought was an error, maybe I did something, wrong, will keep looking

[2019-09-23 13:36] #965 closed

[2019-09-23 13:57] umarcor commented on #965
[code]

[code]

[2019-09-23 14:01] ClaytonNorthey92 commented on #965
you're right I was not detailed enough, but I did get it working with using local flags for the command I wanted to run, you can disregard

thank you for your quick response though 👍

[2019-09-24 15:42] cdujeu commented on #844
Hi, for the sake of google indexation (if anyone else is hitting this issue), this is particularly annoying when building an app with the `-ldflags "-H windowsgui"`. When double-clicking on the built executable, app starts then silently fails after 3 or 4 seconds. The suggested change does fix the problem.

[2019-09-25 16:03] fallais commented on #910
@jharshman Yes ! Thanks a lot again :)

[2019-09-27 12:31] fallais commented on #910
@jharshman : To be honest, I do have a question. If I understand correctly, the whole code that I had it my `main.go` of each microservices goes into the `Run()` of each Cobra commands ? I do not find this beautiful. Is there another way to do this ?

Thanks a lot

[2019-09-27 13:29] umarcor commented on #910
Just put the code of each microservice in a different function, and call those functions from `Run()`. It is up to you to define these functions on a single package or in a separate package. A common structure I use is:

- root/:
  - lib/: business logic
  - cmd/: entrypoints to business logic

This allows users to use your project as a CLI tool or as a library.

[2019-09-27 13:48] fallais commented on #910
But, the actual main I have is quite huge.. I mean I am declaring the DAOs, the services, the routes... I would have to add all of this code into the Run() of the Cobra command ?

If you look above, you will see my actual project structure. One `main.go` for each microservices.

[2019-09-27 14:48] fallais commented on #910
For example, this is the `main.go` of the **collector** microservice.

[code]

I would need to put all of this code in this :

[code]

It is a bit ugly isn't it ?

[2019-09-27 15:43] jharshman commented on #910
If your main function is large, you should look at refactoring it a bit to make it less so.  Consider breaking things out into different functions.

[2019-09-27 23:39] umarcor commented on #910
Yes, you have an *ugly* non-cobra structure and getting the result you want will require some effort on your side. We can spend much time and discuss a lot about it (in the good sense), but I'm afraid that you already have all the information and examples. You just need to sit down, think about it, read this conversation, think about it again, read the docs, and understand it. Then, spend some hou

[2019-09-28 21:11] mescanne commented on #862
I've put together a pull request here:
https://github.com/spf13/cobra/pull/966

Happy to have feedback -- this is the minimal set of changes I used to
generate my documentation.

Mark

On Sat, 31 Aug 2019 at 01:52, Eric Paris <notifications@github.com> wrote:

[2019-09-30 11:08] fallais commented on #910
Thanks for helping, appreciate. I hope this post will help other people.
I thought about what you proposed, I could modify all my `main` function with this :

[code]

Then do this :

[code]

Right ?

[2019-09-30 13:02] rishav-csenitjsr commented on #941
Thanks a lot @umarcor @jharshman

[2019-09-30 14:53] umarcor commented on #910
Exactly. That's even cleaner that what I suggested.

[2019-09-30 15:13] fallais commented on #910
Unless I use it like this : `collectorSetup(nil, nil)`.
Am I wrong ?

That being said, I think that choosing Cobra mean, going 100% into it. That would make sens to do what I proposed. But I need to think more.

I am studying the code of Hugo.

[2019-09-30 15:33] umarcor commented on #910
I think you are on the good path now. All of your latest comments/questions are valid and very pertinent. However, I think that you are the only one that can answer/decide. The specific implementation will depend on your needs and preferences; there is no *best* solution.

[2019-09-30 16:08] fallais commented on #914
Any update on this topic please ?

I am also looking at *good practices* about errors handling in Cobra. The `RunE` seems to be really good, but the fact that there is nothing on the documentation is confusing, like if it was not good to use it.

[2019-09-30 16:44] rbino commented on #875
I've come across this same issue and I've fixed it calling `viper.BindPFlag` in the `PersistentPreRunE` function of the command instead of in `init()`.
Note that if you do so, you have to look for you flag in `cmd.Flags` and not `cmd.PersistentFlags` (the latter makes the program segfault, event if the flag is effectively a PersistentFlag).

[2019-10-01 04:38] srybacki opened #967 "Undefined variables in README.md example"
The variables `projectBase` and `userLicense` are used  in the [README.md example](https://github.com/spf13/cobra#example), but the variables are not declared in the example code.  Should the variables be declared as package-level variables like `cfgFile`?

[2019-10-01 10:37] umarcor commented on #967
Actually, `cfgFile` was added just a couple of months ago. As @jharshman [commented](https://github.com/spf13/cobra/pull/924#issuecomment-518292844):

[2019-10-02 21:09] fallais commented on #910
I do not often do this kind of work, how could it be done ? I could add, at the root, an `examples` directory with an `example1` inside ? With a basic project based on mine : two microservices called *collector* and *server*, a DAO, services, routes and some stuff.

As of today, I fully migrated to Cobra and deployed in production. Quite happy with that. But I am not sure I did the right way, with

[2019-10-03 13:21] pjbgf opened #970 "Ignore flags after position or Positional catch-all"
Is there a way to define the following behaviour for flags and positional arguments:
`mycommand [flags] positioned-arg positioned-arg-catch-all`

For example:
`mycommand -v -f text.out ping -c5 8.8.8.8`

### Desired Output
Flag[0]: `-v`
Flag[1]: `-f`
Arg[0]: `text.out`
Arg[1]: `ping -c5 8.8.8.8`

### Actual Output
Flag[0]: `-v`
Flag[1]: `-f`
Flag[1]: `-c5`
Arg[0]: `text.out`
Arg[1]: `ping`
Arg[2]:

[2019-10-03 18:58] umarcor commented on #970
What about `mycommand -v -f text.out "ping -c5 8.8.8.8"?`

[2019-10-03 19:17] pjbgf commented on #970
@umarcor I wanted to keep it without the quotes, as my app will be calling another app and I would like to keep the same syntax.

Disabling the flag validation I can get it to work, but then I have to parse each input manually.

But if there is no other way, that should suffice. Thank you. :+1:

[2019-10-03 19:19] jharshman commented on #958
@Nuru thanks for submitting your issue.  It looks like this has already been brought up in spf13/pflag#214.  Going to close this as the spf13/pflag is the appropriate place to track it.

[2019-10-03 19:19] #958 closed

[2019-10-03 19:31] umarcor commented on #970
You can use `strings.Join(args[1:], " ")` in the (sub)commands where you want this behaviour. I think this is a very specific use case to have it merged into the codebase.

This might be a legit bug. Do you mean that `-c5` is recognized as an invalid cobra/pflag argument and it produces a failure? If this is the case, I would suggest to enhance your first comment by adding minimal working examples

[2019-10-03 21:53] #940 closed

[2019-10-03 22:03] jharshman commented on #920
I think your answer can be found in the pflag repo.  Take a look at the GoDocs.
https://godoc.org/github.com/spf13/pflag#NFlag

[2019-10-03 22:03] #920 closed

[2019-10-04 17:39] h0tw4t3r opened #974 "RunE on rootCmd is never being called."
I am trying to parse Persistent Flags that I pass to my rootCmd. I have next flags:
[code]
And I have rootCmd.RunE which handles this flags. Everything would be perfect but RunE is never being called. If I call it explicitly, flags are being parsed successfully.
Why is that?

I will attach a folder with CLI handling after this message.

[2019-10-04 17:41] h0tw4t3r commented on #974
https://github.com/h0tw4t3r/upm/tree/master/cmd

[2019-10-04 18:31] umarcor commented on #910
Overall, I feel that all the `*.md` files that are spread across the root (including most of the README) and subdirs doc and cobra could be better located in a specific subdir (probably named `docs` or `site`). Moreover, it could be served as a static site (e.g. with hugo). Nonetheless, this is far beyond the scope of your possible contribution.

I think that you can name it `guide`, instead of `e

[2019-10-05 23:11] h0tw4t3r commented on #974
Ok, as far as I've understood, Run/RunE is being called only on the last cmd, but how should I handle flags if i.e. I've got setters and I can't pass pointers to persistent flag directly?

[2019-10-05 23:19] h0tw4t3r commented on #974
Solved by using cobra.OnInitialize() with passing flag-handling function.

[2019-10-05 23:19] #974 closed

[2019-10-07 18:33] marcellodesales commented on #770
@lpabon Maybe the repo `px` is private?

[2019-10-07 21:31] #967 closed

[2019-10-08 05:04] pdf commented on #805
If my understanding is correct, I believe this project needs to be updated to use `github.com/cpuguy83/go-md2man/v2` in order to avoid the broken v2.0.0 release of blackfriday.

[2019-10-08 05:05] pjbgf commented on #970
@umarcor using the double quotes or the double dash works. `-c5` only gets recognised as an invalid flag when I don't use them. So I will be closing this issue. Thank you for your help.

[2019-10-08 05:05] #970 closed

[2019-10-11 08:44] TimSatke opened #978 "Bump viper version from 1.3.2 to 1.4.0"
This resolves the vulnerability detected in gojisvm/gojis#72 and only leaves gojisvm/gojis#75, which can be fixed in a future release of spf13/viper.

[2019-10-11 23:28] umarcor commented on #978
Ref #953

[2019-10-14 03:11] #938 closed

[2019-10-14 03:11] #978 closed

[2019-10-17 14:04] alexisvisco commented on #553
Same issue. Annoying problem.

[2019-10-17 16:47] pplcc commented on #553
I ran into the same problem.

[2019-10-18 11:10] umarcor commented on #553
@lirao, @dturanski, @mcolburn, @pplcc can you please provide a MWE that reproduces your issue? None of the descriptions in this issue is detailed enough to reproduce.

[2019-10-19 22:17] #805 closed

[2019-10-25 10:37] didrocks opened #981 "subcommand handling is inconsistent"
This is with cobra v0.0.5.

This is some kind of meta-bug (we can separate this if needed, but I think a general view can help getting a global schema) to gather some of where subcommand support in cobra is falling short. It has a little overlap with bug #870, pr #842, and as I saw the issue discussion that once 1.0 is out, there is some willingness to revisit the maintainance governance, I think

[2019-10-25 14:47] shettich opened #982 "Flags in modules"
Is it possible to have flags defined in modules (eg using the normal flag library) when using Cobra and pflag?  If it is, could you provide an example?

[2019-10-26 08:03] PeterMenage commented on #330
I'm having this issue. These fixes don't seem to do the trick for me. Any advice?

[2019-10-28 15:33] didrocks commented on #981
In addition to the MP fixnig some of the subcommands, I think we can get a new help fixing most of the issues above (suggesting and requiring subcommands):
[code]
I think some of the code could be extracted/factorized directly in cobra's SuggestFor(), and give an helper for require/not requiring subcommands.

The only parts not fixed are **"Changing usage"** and **"No suggestion for flags"** by th

[2019-10-31 14:47] mislav commented on #914
After reading the Command code for a while, I don't see a really flexible way to decide how to handle errors at runtime. This is the approach we've ended up on:

[code]

[code]

After this, we use `RunE` for all commands.

The features of this approach are:
- errors in flag parsing are printed together with command usage help;
- all other errors are handled in `main()`.

Drawbacks:
- doesn't print

[2019-11-01 08:09] lewki opened #984 "Failed when install: pflag.ParseErrorsWhitelist"
go get -u github.com/spf13/cobra/cobra
# github.com/spf13/cobra
github.com/spf13/cobra/command.go:34:25: undefined: pflag.ParseErrorsWhitelist

[2019-11-02 19:22] umarcor commented on #984
@lewki, please provide some info about your context. The procedure seems to work as expected in a clean environment:

[code]

[2019-11-06 21:45] johnaoss opened #985 "docs: Centralize documentation"
As the Wiki feature is enabled on this repo, I suggest that we move the docs to a central location.

## Where
Ideally this could be the Wiki. We could copy over all of the `.md` files into there with minimal effort. As a temporary measure, we can keep both the `.md` files in-repo, and just mirror them in the Wiki as separate pages, with the end goal of removing from the repo entirely.

If the Wiki

[2019-11-07 00:10] umarcor commented on #985
First off, I'm all in with having *proper* documentation. Thanks for opening this issue!

GitHub wikis are, in fact, git repositories with markdown files. Hence, you can clone either `git@github.com:user/repo.wiki.git` or `https://github.com/user/repo.wiki.git`, edit files locally, commit the changes and push. The website is just a frontend that allows to edit sources without using git. As a resul

[2019-11-07 15:24] srlehn opened #986 "shell completion should behave uniformly for bash and zsh when sourced"
I was under the assumption that because `. <(app genshcomp)` ("app genshcomp" returns shell completion code) worked for bash that the generated zsh code should behave the same for zsh. I can't see any reason to block this behaviour for zsh if only a single line has to be added (https://github.com/spf13/cobra/pull/887).

For my portable application I value the ability to directly inject the complet

[2019-11-07 19:47] corneliusweig commented on #986
Big :+1:

[2019-11-08 00:19] corneliusweig opened #988 "Minor vulnerability"
Hi, I have found a potential issue within cobra. Where can I report this?

[2019-11-08 01:05] eparis commented on #988
You could report it to spf13 (steve.francia@gmail.com) or myself (eparis@redhat.com)

[2019-11-08 21:14] #988 closed

[2019-11-08 21:31] corneliusweig opened #989 "Zsh completion scripts do not properly escape help text"
Cobra gained a much more powerful zsh completion script generator with #646, showing help text for flags and sub-commands.

This help text is not properly escaped, for example when it contains brackets (#899). Also, and more importantly, it does not escape command substitution constructs such as `$(cmd)`. This causes the command in the help text to be executed whenever the completion script is inv

[2019-11-08 22:18] corneliusweig commented on #989
fix suggested in https://github.com/spf13/cobra/pull/899#issuecomment-552011621

[2019-11-09 05:25] abhishekjoy1 opened #990 "Writing test for cobra-viper go package"
I have cloned a cobra and viper based go application. Here commands are invoked using cli as follows:
      `./<my go tool> <command>  --<command-flag1>`

And code snippet for the same is as follows:

      package cmd

      import (
	   "fmt"
	   "os"
	   "github.com/spf13/cobra"
	   "github.com/spf13/viper"
      )

      var viperCon *viper.Viper
      var cmd1 = &cobra.Command{
      Use:   "

[2019-11-09 21:43] Nuru commented on #679
I think allowing short arguments without long arguments is problematic for the use case of having multiple levels of configuration (config file, environment variables, command line) and wanting to override values (especially booleans) back to defaults.

For this case, I would instead suggest a long option name of `--verbose` which takes a number with results as if the `v` were specified that many

[2019-11-11 05:56] moqadir commented on #553
Use `DisableFlagParsing` and parse the flags in the sub command.

[code]

[2019-11-11 05:59] shabeebqadir commented on #553
Use `DisableFlagParsing` and parse flags in the sub command.

[code]

[2019-11-14 05:32] arschles commented on #795
Super late to the game, but this is awesome to see. I've been enjoying module-aware `cobra init` for a while now and didn't give some thought to coming back and saying thanks to everyone who made it happen. So...... thanks 😄

[2019-11-18 07:04] lewki commented on #984
thx,   my go version go1.13  conflict with previous version 1.11 .

[2019-11-18 07:04] #984 closed

[2019-11-20 19:49] fd0 commented on #681
FYI, you can add a new section to the man page by adding something like markdown to the `Long` field:
[code]

The manpage will contain a new section:
[code]

[2019-11-21 13:39] ninorain22 opened #994 "Any graceful restart?"
I deploy my daemon program in k8s, what can I do to graceful stop or restart?

[2019-11-25 05:43] teguh11 opened #995 "Cobra not read config file when go test"
sorry, i have a problem with cobra when i create a test function. my config file in .yaml file. i created subcommand with
`cobra add list`

and in initConfig function on root.go, i pointing to my config file with this code
`viper.AddConfigPath(".")`
`viper.SetConfigName(".todo")`
`viper.SetConfigType("yaml")`

when i run `go run main.go list`, it run perfectly.
but when i run `go test`, config fil

[2019-11-26 01:39] hairyhenderson commented on #654
@eparis I've attempted to implement what you're looking for in #996 - PTAL

[2019-11-26 09:01] amreo opened #997 "Subcommand after a positional arg"
Is possible to add a subcommand after a positional arg like the following command ```ip link set enp4s0 up``` (enp4s0 == arg, up == subcommand)?

[2019-12-05 07:40] umarcor commented on #997
This should already be supported. See https://github.com/spf13/pflag#command-line-flag-syntax:

[2019-12-05 15:15] lieut-data commented on #908
Thanks for the reply, @umarcor, and sorry for my own delay in responding.

The challenge here is that I really just want to use cobra as a router to process "CLI-like args". The desired command implementations are necessarily colocated with the code processing the slash command.

You're absolutely right, and it makes sense for cobra to work under this assumption. Thanks for confirming that this ju

[2019-12-05 15:33] umarcor commented on #908
As said, I think that it would be interesting:

So, getting the environment/context from the os and the args from stdin would be just a specific (the default) usage.

Unfortunately, this would a quite disruptive change. See #959. I wish we had some v2 to work on while this v1 is kept mostly untouched.

[2019-12-07 09:24] xuanskyer commented on #710
the same Q

[2019-12-08 21:57] clee commented on #751
For anyone else who comes across this problem in the future, I've discovered a hack/workaround that you can use to un-pollute your command-line flags.

In your `main()` function, before you do anything else, call:

`pflag.CommandLine = pflag.NewFlagSet("name", pflag.ExitOnError)`

This should remove any flags that were added by libraries automatically.

[2019-12-09 20:27] voithos opened #1000 "Bash completions shouldn't exclude `help` command"
There appears to be an explicit check in the bash completion code that excludes the help command: https://github.com/spf13/cobra/blob/b04b5bfc50cbb6c036d2115ed55ea1bccdaf82a9/bash_completions.go#L326

This means that the resulting completion script doesn't show `help` as a valid cobra command, which seems unnecessary? This is also not present in the zsh completions generator.

[2019-12-13 01:41] marckhouzam opened #1002 "Possible breaking change: help now goes to STDERR"
As part of #922 the help message was recently changed from being printed to STDOUT to now being printed to STDERR.

This sounds like a breaking change.  Some scripts could be written with the expectation that the help message is on stdout, and changing it would break such scripts.  I know the change broke one of Helm's acceptance testing scripts (https://github.com/helm/acceptance-testing/pull/64)

[2019-12-13 23:20] bruceadowns commented on #1002
@marckhouzam, thank you for the reasoned background.

Imho, help output should go to stderr. It makes more common sense to me. That said, I understand there is a downstream dependency concern that needs to be communicated.

I set out to back up my opinion with checking various cli and surprisingly there is little consistency.

For example docker vs go:

[code]

Docker help goes to stdout and go he

[2019-12-14 00:45] marckhouzam commented on #1002
@bruceadowns  Thank you for taking the time to investigate.

Your findings make me feel that if Cobra had output the help message on stderr from the beginning it would have been fine; however #303 actually purposefully changed it from stderr to stdout. Maybe @fabianofranz  can shed some light about that decision?

That being said, even though a valid argument can be made about using stderr we are

[2019-12-16 16:06] pruse2402 commented on #270
Am getting the same issue. what is the solution to resolve this one?
Thanks in advance.

[2019-12-16 22:16] blacktop commented on #886
@rsteube can you show a small example on how to add them?  I am trying and it doesn't seem to work for sub commands?

[2019-12-16 22:54] rsteube commented on #886
There is a test using it: https://github.com/spf13/cobra/blob/e2c45ac9eb0cdb823b89c1e868d698dc74822797/zsh_completions_test.go#L164

You probably know, but if it's a sub command it needs to be called on the sub command and not on the root command. Can't think of any other reason right now why it's not working.

[2019-12-16 23:00] blacktop commented on #886
I added it here:

https://github.com/blacktop/ipsw/blob/master/cmd/ipsw/cmd/device.go#L49

It doesn't seem to have any impact on what is output by running:

[code]

I would have expected to see "DeviceTree*" show up somewhere or `_file`

😕

[2019-12-16 23:33] rsteube commented on #886
I think it's because of the sub sub command "list": https://github.com/blacktop/ipsw/blob/9b307d745c4a7b27f8567d281c0fa7ce0169c600/cmd/ipsw/cmd/device_list.go#L15

That should set the list commond as positional argument 1 and thus override your file argument (both is probably not possible). When that is commented the Devicetree argument is rendered in the output.

[2019-12-16 23:57] blacktop commented on #886
Ah thank you! I should simplify my sub sub subs into a more typical cli.  I also confirmed if I remove the sub subs it does in fact work 👍

[2019-12-22 12:24] umarcor commented on #959
*ping....*

Milestone [1.0.0](https://github.com/spf13/cobra/milestone/2), scheduled for two days ago, is at 47%.

[2019-12-22 16:09] jharshman commented on #959
@umarcor, as you know it is the holiday season. Some things come up and as such other items get adjusted priority.  Although we did not hit the milestone by the estimated date, we will continue toward releasing a 1.0.0 of Cobra early in the New Year. Thank you for your patience and understanding.

[2019-12-22 16:09] #959 closed

[2019-12-22 16:12] jharshman commented on #994
@ninorain22 this doesn't seem like it's related to this project.

[2019-12-22 16:12] #994 closed

[2019-12-22 16:25] jharshman commented on #1002
So it looks like #303 ensured that the `help` command for both top level commands and subcommands printed to stdout.
https://github.com/kubernetes/kubernetes/pull/26077#issuecomment-230818900

The offending line in #922 is https://github.com/spf13/cobra/pull/922/files#diff-9c42b524cb14ca001c61267826cbefb1R375, where it changes that decision and prints all `help` command text to stderr.

It also mi

[2019-12-22 16:55] marckhouzam commented on #1002
Thanks @jharshman for finding this!  Seems enough to revert the change.  I will post a PR.

[2019-12-23 03:31] jharshman commented on #836
I think this is a great addition and has obvious use cases.  I will target to get this in a future release after 1.0.0.

[2019-12-23 18:38] #1002 closed

[2019-12-23 19:01] fabianofranz commented on #1002
The change to print to STDOUT instead of STDERR in https://github.com/spf13/cobra/pull/303 back in 2016 was conscious and based on the [GNU Standards for CLI --help](https://www.gnu.org/prep/standards/html_node/_002d_002dhelp.html#g_t_002d_002dhelp). GNU Standards and POSIX must be, when available, the single source of thruth for these kinds of decisions. Thanks for reverting it.

[2019-12-23 22:01] idetoile commented on #726
This is how I do that:

[code]

and to run:
[code]

[2019-12-24 03:03] umarcor commented on #933
Should this be closed now that #980 is merged?

[2019-12-24 08:07] #933 closed

[2019-12-24 14:41] amreo opened #1006 "Add the possiblity to limit the value of a flag to a certain set"
Is possible to force the value of a option to a certain set of values?

[2019-12-26 16:03] jharshman commented on #982
@shettich, please provide more detail and context.

[2019-12-26 16:10] jharshman commented on #956
Closing due to inactivity.

[2019-12-26 16:10] #956 closed

[2019-12-26 16:14] jharshman commented on #985
There are improvements to be made in documentation. But I think it is a better idea to keep the docs co-located with the code as it is today.

[2019-12-26 16:14] #985 closed

[2019-12-26 16:16] jharshman commented on #1006
@amreo,
Please be more descriptive in your issue.  It is best to provide a use case and maybe some examples so you can get your point across clearly.  This helps ensure there is little room for your question to be misinterpreted.

[2019-12-26 16:21] jharshman commented on #1000
This is interesting.  Thank you @voithos for bringing this to my attention.  I will do some digging to see if there is a reason as to _why_ this was done.

[2019-12-26 16:38] jharshman commented on #1000
This was done a while ago in #128.

@eparis, you didn't give a description in your PR.  Can you shed some light on the reasoning behind excluding the autogenerated `help` command?

[2019-12-26 17:18] jharshman commented on #997
@amreo
https://github.com/spf13/cobra#concepts

This is something you would have to handle yourself.  It's worth noting in your example, that `enp4s0` and `up` are both arguments.
ref: https://github.com/shemminger/iproute2/blob/master/ip/iplink.c

[2019-12-26 17:29] umarcor commented on #1006
I think that this feature is provided by `ValidArgs`, but the implementation is currently incomplete. In #841, it is generalized so that it works with any validator.

[2019-12-26 17:38] jharshman commented on #995
@teguh11 When you're running your test, the `init()` function in `root.go` is not executed. Therefore no configuration is read in.

[2019-12-26 17:39] umarcor commented on #985
@jharshman, I think that this issue should be kept open to track improvements to centralize the documentation; even if sources are to be located in the same repo.

[2019-12-26 17:39] #995 closed

[2019-12-26 17:43] #931 closed

[2019-12-26 18:35] bruceadowns commented on #1002
The original intent of #922 was to ensure that a non-zero exit code is emitted in the case of invalid subcommands or arguments. I've verified that this behavior was preserved through  #1004.

I agree that if help is explicitly requested, it should be printed to stdout with a zero exit code per gnu standards. This tracking issue provided great clarity.

[2019-12-26 22:12] #15 closed

[2019-12-26 22:12] #140 closed

[2019-12-26 22:13] #251 closed

[2019-12-26 22:14] #262 closed

[2019-12-26 22:15] #333 closed

[2019-12-26 22:16] #263 closed

[2019-12-26 22:17] #347 closed

[2019-12-26 22:19] #325 closed

[2019-12-26 22:22] jharshman commented on #319
This is correct. You are welcome to use your own file structure and many projects do. However, the cobra generator will not work with any file structure.

[2019-12-26 22:22] #319 closed

[2019-12-26 22:29] #458 closed

[2019-12-26 22:30] #535 closed

[2019-12-26 22:31] #388 closed

[2019-12-26 22:32] #493 closed

[2019-12-26 22:34] #479 closed

[2019-12-26 22:34] #377 closed

[2019-12-26 22:35] #452 closed

[2019-12-26 22:36] #245 closed

[2019-12-26 22:37] #562 closed

[2019-12-26 22:38] #599 closed

[2019-12-26 22:39] #603 closed

[2019-12-26 22:40] #604 closed

[2019-12-27 08:00] amreo commented on #1006
A example may be `ls` with the `color` option. The color option allow only 'always', 'never' and 'auto' values.

[2019-12-27 14:01] umarcor commented on #1006
[code]

[code]

[2019-12-27 14:08] amreo commented on #1006
That's not what I meant. I'm talking about the flag/options, and not about the args.
[code]
should print "invalid value for option color"
[code]
should print "hello world"

[2019-12-27 14:46] umarcor commented on #1006
You should take the snippet above as a reference, and combine it with "An example of setting the custom validator" in https://github.com/spf13/cobra#positional-and-custom-arguments and function `validateArgs` in #841.

Precisely, `validateArgs` is an example of how to check that a value is in a slice. `validateArgs` could actually be extended so that it could be used for finer grained tests (check

[2019-12-27 22:53] eparis commented on #1000
that was a while ago!

I think I, at the time, didn't want to generate documentation for an autogenerated help command. Nor did I want to include a 'see also' section if the only command was the autogenerated help command.

I guess I'd be fine with it showing up in bash completions. But I don't think we should have a -help man/md page for any autogenerated help command...

[2019-12-30 06:20] zuoRambo opened #1007 "Support **Ask** and **Confirm**"
In practice, we often need to ask user some questions to get user's confirm intentions when exec some  dangerous actions.
For example ：
[code]

[2019-12-30 18:20] jharshman commented on #1000
@eparis thanks for the insight.
I agree that it shouldn't show up in man pages but I see no harm in it showing up in the bash autocompletion.

@voithos go ahead and cut a PR for this and I'll review.

[2019-12-30 21:25] jharshman commented on #1007
Currently, you would have to implement this manually. However, I could see a case where it's a toggle on `cobra.Command`.

@zuoRambo is this something you want to develop a PR for? Or have ideas on implementation?

A quick implementation of this could look like the following:
[code]

[2019-12-30 21:27] #619 closed

[2019-12-30 21:28] #633 closed

[2019-12-30 21:29] #234 closed

[2019-12-30 21:30] #644 closed

[2019-12-30 21:31] #650 closed

[2019-12-30 21:34] #696 closed

[2019-12-30 21:35] #703 closed

[2019-12-30 21:36] #387 closed

[2019-12-30 21:37] #707 closed

[2019-12-30 21:38] #320 closed

[2019-12-30 21:39] #740 closed

[2019-12-30 21:40] #743 closed

[2019-12-30 21:43] #802 closed

[2019-12-31 00:53] rochaporto opened #1008 "go test failing with custom flags"
With tests relying on golden files managed by an update flag:
[code]

With Go 1.13, a project relying on cobra and using the pattern above ends up seeing:
[code]
I believe this is due to https://github.com/golang/go/issues/31859 which refers to https://github.com/golang/go/commit/fbc6a972226f889d2ab1150468755615098ee80f as the breaking change.

With a project splitting cmd and pkg, dropping cmd fr

[2020-01-02 18:00] eparis commented on #1007
could the ask/confirm be a part of a PreRunE?  again, something you have to write yourself...

[2020-01-03 00:30] durandj commented on #661
There are use cases where you would want to repeat a flag to make a cleaner interface. For example, I'm building out a CLI that searches a REST API and will do some filtering. I want to be able to specify filters as individual flags.

[code]

You could still do these as a slice but that's almost certainly going to be harder to read/write from a user's perspective versus individual flags.

[2020-01-03 00:53] umarcor commented on #1008
@rochaporto, could you please provide a reproducer? `-update` looks strange to me, since cobra relies on pflag, and pflag does not support long arguments with a single dash.

[2020-01-03 22:35] rathorea opened #1011 "invalid input ignored at end of a valid cobra command"
Hi All,

I have defined a command that should look like this:
./binary param1 param2

So when the user enters this:
./binary param1 param2 paramX

The parser code somehow ignores paramX and executes the command as if user had entered:
./binary param1 param2

What am I missing? Any suggested way to fix this?

Thanks

[2020-01-04 18:44] umarcor commented on #1011
@rathorea, see https://github.com/spf13/cobra#positional-and-custom-arguments for instructions of how to limit the number of accepted parameters to two. I think that you might want to use `ExactArgs` and, optionally, `ExactValidArgs`.

Ref #841

[2020-01-04 21:44] umarcor commented on #661
@durandj, did you see @tylrd's comment above?

[2020-01-04 22:35] umarcor commented on #981
Hi @didrocks and thanks for this very detailed issue! It seems that there's content for a bunch of PRs here... let's go step by step.

I think that the base code you provided should be used for a set of tests. Then, each of the sections/issues that you commented would fit as a specific test. For now, we can only validate supported features, and fail speculatively (i.e. assuming that additional con

[2020-01-05 15:43] jsuar commented on #269
@lzhecheng More specifically, the alias field can be used. I was wondering the same.

[code]

[2020-01-06 09:32] rochaporto commented on #1008
@umarcor the -update is passed to the 'go test' command.

I see this in github.com/ezgliding/goigc, just doing:
[code]

I'll try to provide a simpler reproducer, but in this case i add an 'update' flag in https://github.com/ezgliding/goigc/blob/master/pkg/igc/parse_test.go#L30 to be used by the tests, and this breaks if i have cobra in the gopath. I'll check pflag as well to see if i find what's b

[2020-01-06 14:21] egaudet opened #1013 "Update viper dependency"
Viper 1.3.2 is not goroutine safe and causes race conditions for any code using Set/Get from multiple goroutines.  Packages that use both cobra and viper are forced to use the unsafe version of viper.

[2020-01-06 18:14] jharshman commented on #1007
IMO I think that satisfies the request.
@zuoRambo, let us know if @eparis' suggestion isn't sufficient.

[2020-01-07 02:08] umarcor commented on #1013
Cobra currently uses Viper 1.4.0: https://github.com/spf13/cobra/blob/master/go.mod#L10. Anyway, see #1012.

[2020-01-07 22:29] kurtpeek commented on #252
In my case, the parent is the `rootCmd` and its `PersistentPreRun()` doesn't actually use the `cmd` or `args` passed into it, so I was able to work around this by calling `rootCmd.PersistentPreRun(cmd, args)` explicitly in the child command:

[code]

[2020-01-09 06:37] kshitij299 opened #1015 "Parent Command Details in Child command"
A command can have multiple parents. While executing `Run` of a command, is there a way to know which parent command was used?

Usecase: I want to write a single child command and add multiple parents to it, and then have it behave based on the parent which was used to call it.

[2020-01-09 14:30] zuoRambo commented on #1007
https://github.com/spf13/cobra/pull/1016

[2020-01-10 08:17] frickenate commented on #679
What the hell. Short-name-only flags are core functionality provided by any standard `getopt()` implementation, including that provided by C. Why is a long name required? The closest I can get to expected behaviour is by defining both a long and short name with the same character. But that is simply *wrong*, and accepts (and shows in help) both `-x` and `--x` when I only want to accept `-x`.

Supp

[2020-01-10 18:42] Nuru commented on #679
@frickenate see https://github.com/spf13/pflag/pull/171

[2020-01-10 19:33] bamarni commented on #679
This can be closed as it's not a cobra issue but on the underlying pflags library.

I don't expect the resolution to be trivial, as pflags codebase was originally based on the go std library, which has its own semantics. It seems like with pflags, short options are mainly shorthands for long options.

I agree with @frickenate, cobra/pflags is fine in 90% of the case, but if you want strict GNU/POS

[2020-01-10 19:33] #679 closed

[2020-01-11 16:44] lyda commented on #1006
I think it's best if the validation happened at the cobra level because that's where shell completion scripts and usage messages are generated. It would be excellent to have this for not just validation of flag arguments, but also for the completion and usage options.

[2020-01-12 00:49] umarcor commented on #1006
I don't see why having this feature implemented in viper or pflag would impose any limitation to usage or completion. @lyda, can you please elaborate?

[2020-01-12 10:34] demyxco opened #1017 "I have a couple of questions"
Hi, I'm sort of new to Golang so please bear with me. I have a couple of questions to ask:

**1. How to prevent double output of the error when using `Args: cobra.MinimumNArgs(1)`? I'd like to remove the error at the bottom.**

Snippet of cmd/rm.go
[code]
Output:
[code]

**2. How do you prepend more text before [flags] under Usage?**
I'd like the output like this:
[code]

[2020-01-14 18:49] bjarkarim commented on #270
have you mange to fix the problem? i'm getting the same error

[2020-01-15 10:56] p410342078 opened #1018 "use issue"
How should I write the expressions to perform the tasks at 1:00 and 10:00 each day

[2020-01-16 01:52] bcongdon commented on #1017
For 2, you can update your `Use` field for your command. i.e. Change `Use: "rm"` to `Use: "rm [domain]". Here's [an example](https://github.com/spf13/cobra/blob/993cc5372a05240dfd59e3ba952748b36b2cd117/cobra/cmd/init.go#L29)

[2020-01-16 01:54] bcongdon commented on #1017
For 1, what does the code look like where you're calling `Execute` on the root command?

If you're using the example from the readme (https://github.com/spf13/cobra#create-rootcmd), then that might be where the second error is being printed.

[2020-01-16 02:03] #1018 closed

[2020-01-16 02:59] bcongdon opened #1019 "`LocalFlags().Visit()` doesn't visit set flags when in child command's `Run()`"
If you call `cmd.LocalFlags().Visit()` in a child command's `Run` function, it always visits an empty list of flags.

Consider the following test:

[code]

Which fails on master with the following error message:

[code]

---

It looks like this is because when a flag is added to the `c.lflags` set in `LocalFlags()`, `pflag.FlagSet.AddFlag()` does not copy the fact that the flag may have been alrea

[2020-01-16 06:20] demyxco commented on #1017
Wow my 2nd question was easy enough, thank you. For my first question, here's what my root.go looks like:

[code]

This was generated using the cobra binary. I've deleted the init() and initConfig() functions, because root flags aren't needed at the moment and loading the config file will be executed via subcommands.

[2020-01-16 10:09] Skarlso commented on #741
Yep, second that. It's still in there.

[2020-01-16 16:34] WuShaoQiang commented on #1017
It seems like `demyx.PrintfError(err)` prints the last error message?

[2020-01-16 19:53] demyxco commented on #1017
The rm command I gave an example above doesn’t have my custom error function but still gives out double output of the error. I will post my main.go when I get home. I’ll also make a test project with the same setup and see if I can replicate it again.

Sent from my iPhone

[2020-01-16 21:22] Simran-B commented on #741
I want to add that it's also showing in the Markdown documentation, so likely a general issue of `DisableAutoGenTag` not working properly (not passed on correctly?)

[2020-01-17 00:57] pdbogen opened #1021 "unexpected "unknown flag" but flag appears in --help"
`demo.go`:

[code]

[code]

I expect I'm doing something wrong, but it's not clear what, and moreover, it's very confusing that `--test` is listed in help but throws an error.

[2020-01-17 01:55] demyxco commented on #1017
Just tested it out on a new cobra project, can duplicate the error.

main.go (no modifications)
[code]

cmd/root.go (no modifications)
[code]

cmd/test.go (added `Args: cobra.MinimumNArgs(1),`)
[code]

[code]

[2020-01-17 02:59] bcongdon commented on #1017
It looks like you're still printing the error in your `Execute()` function:
[code]

[2020-01-17 03:51] demyxco commented on #1017
By Oden's beard, that fixed it. Thank you @bcongdon. Closing~

[2020-01-17 03:51] #1017 closed

[2020-01-21 07:29] WuShaoQiang commented on #1021
I think the `LocalFlags` is for read-only use.

[2020-01-21 08:36] WuShaoQiang commented on #1015
I think the best way you do that is to generate subcommands for each parents.
[code]

Is that what you want?

[2020-01-21 08:52] WuShaoQiang commented on #1019
Why not use `Flags`?

[2020-01-21 18:23] bcongdon commented on #1019
If I understand correctly, `Flags` also includes flags from the parent command, which I don't want.

(i.e. if `root` has a `boola` flag, I wouldn't want to see that in the child `LocalFlags()`)

[2020-01-21 18:41] pdbogen commented on #1021
Ah, I think you're right. Just found this in the readme:

Maybe a note in the godoc for `LocalFlags()` would be appropriate, noting it's intended to be read-only and directing to `Flags()`?

[2020-01-23 04:06] WuShaoQiang commented on #1019
[code]

Try this.

[2020-01-23 04:10] WuShaoQiang commented on #1021
The code shows only `Flags` and `PersistentFlags` will be parsed.
So what's your purpose of using `LocalFlags` for writing?

[2020-01-23 15:28] ian-howell opened #1022 "Add capability to restrict flag values to a set off allowed values"
**This was intended to be reported to pflag. Closing**

I have a use-case where I need to perform validation on flag values. In other words, I need to check that the value passed in by the user belongs to some set of valid values. I end up writing a lot of code that looks like this:

[code]

I'd like to be able to do something like the following:

[code]

I wouldn't mind taking a shot at implement

[2020-01-23 15:31] ian-howell commented on #1006
I've opened an [issue](https://github.com/spf13/cobra/issues/1022) in pflag for those interested.

[2020-01-23 15:36] #1022 closed

[2020-01-23 16:01] bcongdon commented on #1019
Thanks! That seems to solve the immediate issue. I'd still argue that this is a bug, though

[2020-01-23 17:37] pdbogen commented on #1021
I was mistaken in trying to use `LocalFlags`; I should have been using `Flags`. I no longer think there's a bug here, but I do still think the documentation around these could be improved.

[2020-01-30 21:59] maguro opened #1024 "SafeWriteConfig fails if config file does not exist"
According to the godoc

    SafeWriteConfig writes current configuration to file only if the file does not exist.

It fails, if the configuration file does not exist:

    Config File "config" Not Found in "[/etc/vanity /Users/acabrera/.config/vanity]"

[2020-01-31 00:56] ahmedatgithub commented on #901
you'd think a cli generator should not have issues with it's own cli :)

[2020-01-31 21:08] shairozan opened #1025 "Is there a way to escape flag input?"
Let's say I have a flag called `app_options`. I want to basically take whatever raw string is provided there and use it to hand to a binary underneath my application.

Ergo if the CLI app I'm calling is `do_the_thing`, I want to pass the options from `app_options` to `do_the_thing`.

Ie
`do_the_thing [app_options]`

specifying `--app_options "-maxlim=0"` only yields a value of `0` for the `app_opt

[2020-02-01 07:10] yordis opened #1026 "Adding dynamic commands"
Hey there,

I am new into Go, and probably they are some barriers, so excuse my ignorance.

I want to use Go as my primary CLI tool, mainly because of the single binary.

But this exact reason I am confused about how I could inject dynamic commands after the CLI is bundled into a single binary.

Is there any way to accomplish this?
How could I extend the CLI by injecting more CLI plugins or someth

[2020-02-01 19:25] marckhouzam commented on #1026
There are many approaches.
You could look at how other Cobra programs do it to get ideas.
For example:
Kubectl - https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/
Helm - https://helm.sh/docs/topics/plugins/

[2020-02-01 21:31] yordis commented on #1026
@marckhouzam thank you very much, this definitely helps me to continue figuring out the path I could take.

Also,

Would it be beneficial if cobra handles this use case?

I feel this is such a common feature to have

[2020-02-01 23:48] marckhouzam commented on #1026
I'll let the maintainers answer.

One issue may be that as you may notice, kubectl and helm took different approaches for plugins. If Cobra provided a framework for plugins it would become opinionated on how plugins should be handled.

[2020-02-03 20:01] carl-menezes-aql opened #1027 "Is it possible to disable copyright generation altogether?"
Is it possible to disable copyright generation altogether?

Sometimes, this is a requirement for internal tools in organisations. Does the cobra generator support this?

[2020-02-05 17:46] andig opened #1029 "DisableAutoGenTag not working with GenMarkdown"
Consider this:

[code]

Still generates the autogen lines:

    ###### Auto generated by spf13/cobra on 5-Feb-2020

This breaks our git "docs clean detection". Couldn't yet figure out why that happens.

[2020-02-05 17:49] eparis commented on #1029
does it work if you put it on the rootCmd?

[2020-02-05 17:54] andig commented on #1029
Oh yeah... feeling stupid, thank you!

[2020-02-05 17:54] #1029 closed

[2020-02-07 16:21] isomorphisms opened #1030 "examples should go at the top of README.md"
This tells me nothing about the project. The example was more informative. You should lead with that.

[2020-02-11 00:14] bukowa opened #1031 "cobra init replaces main.go ?"
I had `main.go` but after `cobra init --pkg-name ...` its replaced, why? :(

[2020-02-11 04:35] umarcor commented on #1031
https://github.com/spf13/cobra/blob/master/cobra/README.md#cobra-init

[2020-02-12 00:30] Sunadde opened #1033 "Persistent flags alone can't disable the ordering properly"
It looks like the disable ordering feature is not working with commands with persistent flags **only**. But works fine if commands have local flags or both local and persistent flags.

I have a root command with only persistent flags. And even I set `SortFlags = false`, the command still prints the flags in order.
[code]
And I got
[code]

[2020-02-17 20:49] patrickdevivo opened #1036 "Add TODOs Badge to README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `TODO` comments are in this codebase:

[![TODOs](https://badgen.net/https/api.tickgit.com/badgen/github.com/spf13/cobra)](https://www.tickgit.com/browse?repo=github.com/spf13/cobra)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO comments in public github repos. It c

[2020-02-18 13:25] xtrimf opened #1038 "sub-sub-commands?"
is there a ways to add subs sub commands?
for example "cobra add command1 subcommand1" ?

[2020-02-18 13:37] xtrimf commented on #1038
I figured it out..
1. create a file under cmd mysubsub.go
2. add ```
var mysubsubCmd = &cobra.Command{
	Use:   "mysubsub",
	Short: "mysubsub",
	Run: func(cmd *cobra.Command, args []string) {
		// whatever here
	},
}
[code]

[2020-02-18 13:39] #1038 closed

[2020-02-18 16:02] mehlichmeyer commented on #270
@pruse2402 @bjarkarim if you guys still have this error, go to your home directory and edit your .bashrc (or .zshrc if you're using zsh like I do) and add your $GOPATH/bin to the list. In my case its 'GOPATH=$HOME/go' so I had to adjust my path 'PATH="entry1:entry2:$HOME/go/bin". That might explain a bit better what @mdaymard already said.

[2020-02-20 20:52] jharshman commented on #1036
Thanks, while interesting, this is not something I am looking at adding right now.

[2020-02-20 20:52] #1036 closed

[2020-02-20 20:55] jharshman commented on #1031
The cobra generator sets up the scaffolding for a new cobra based application. It is prescriptive about the structure and will overwrite files in the directory as documented.

[2020-02-20 20:55] #1031 closed

[2020-02-20 20:58] jharshman commented on #1030
While documentation does need help in some places. I feel that this is not in need of fixing.
For a more in-depth look, it is only natural to read the rest of the doc.

[2020-02-20 20:58] #1030 closed

[2020-02-20 21:00] #982 closed

[2020-02-21 02:40] AdamSLevy commented on #655
This is old but still persists in the latest release. Marking a flag as required is effectively useless if you intend to use the flag value in the PreRun functions.

[2020-02-21 22:29] AdamSLevy commented on #564
A better way is to add a PersistentSilenceUsage which would be preserved down to subcommands.

[2020-02-22 13:11] YuriyChmil opened #1041 "Use dependency injection such as dig for commands"
Hello! I am using the dig package as a dependency injection tool for my project.
I have one command with has some dependency:

[code]
All works fine, but in case if I need create more commands I need to repeat this stuff:
[code]
every time.
Are there any possibility to pass container once in main file, something like this:

[code]
And then in custom command use something like this:

[code]

[2020-02-23 09:23] BrendanThompson opened #1042 "Scrape remaining args as a value for a flag"
Say you have the following:

[code]

However you want to be able to also execute:

[code]

Is that something that is supported with Cobra, I couldn't find any documentation pertaining to this? I assume it _would_ in theory be possible by scraping out the `args` however I am not sure of the behaviour where there are other flags in the command, such as:

[code]

Rather unsure how to approach this.

[2020-02-25 10:18] cornfeedhobo opened #1043 "Support for short flags only"
This issue is not specific to cobra, but [I've had a PR open on pflags](https://github.com/spf13/pflag/pull/171) since 2018. I'd really like to get some attention on this finally.

[2020-02-26 01:55] #1007 closed

[2020-02-26 01:57] #997 closed

[2020-02-26 10:02] fredbi opened #1045 "Documenting required flags"
I am using cobra and generated doc etc.
Required flags are unfortunately not distinguishable from others.

Relates to spf13/pflag#250
I am suggesting a light fix in pflag package:  spf13/pflag#249

[2020-02-26 17:01] jharshman commented on #1045
Please don't cross post issues in other packages here.

[2020-02-26 17:01] #1045 closed

[2020-02-26 17:02] jharshman commented on #1043
I understand your frustration. But please don't cross post issues in other repositories here.

[2020-02-26 17:02] #1043 closed

[2020-02-26 17:05] jharshman commented on #1042
This is behavior that would come out of processing the contents of `args`.
Not something that is explicitly supported / enabled by the cobra package.

[2020-02-26 17:11] jharshman commented on #1026
While an interesting problem to think about, at this point in time I don't think it's something we want to tackle. Perhaps sometime in the future we could provide something, but it would have to not break current implementations like the ones @marckhouzam has mentioned.

[2020-02-26 17:11] #1026 closed

[2020-02-26 17:14] jharshman commented on #1024
@maguro, this is an issue in github.com/spf13/viper.

[2020-02-26 17:14] #1024 closed

[2020-02-26 22:37] qiangli commented on #23
For those people like me wondering why it is not working; it took me a little debugging the cobra code to figure out: `Flags().Changed` wont work in the init function, it has to be in a later stage such as `Args` hook.

[2020-02-27 11:20] dionysius commented on #1042
Does not sound undoable to me, but yes, you have to merge that yourself together. In theory:
Your `barCmd = &cobra.Command{...}` has `Args: cobra.MaximumNArgs(1)` as well as some sort of a `barCmd.Flags().StringVar(&title, "title", "", "description")` and when it is `Run: func(cmd *cobra.Command, args []string) {...}` you do a custom local variable either loading your flag `mytitle := title` or yo

[2020-02-27 15:29] dionysius commented on #706
While what @pclalv says is true, it does now error as expected, but now we have an unfortunate double usage output, which we don't want and is not valid
[code]

[2020-02-27 18:12] cornfeedhobo commented on #1043
@jharshman I completely understand, but I do hope you understand. After all, I waited 2 years. Which brings up a question... Does pflags need a new home and would cobra be willing to switch? It seems like that repo is owned by the same person but is only receiving sparse attention. I've had chats on some of the issues where users say they just maintain forks at this point and don't use cobra. That

[2020-02-27 20:14] gromovadarya90 opened #1046 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 00:01] kurtpeek opened #1047 "Cobra picking up a flag default value from a different command?"
This test Cobra app, https://github.com/kurtpeek/myCobraApp, illustrates the issue. It was scaffolded using the Cobra generator with the following commands:

[code]
In `config.go`, a string variable called `deviceUUID` is declared and bound to a flag using with a default value of `"1234"`, similar to the following:

[code]

Similarly in `serve.go`, the same variable is given a default value of "56

[2020-02-28 18:13] #654 closed

[2020-03-02 08:13] MAnyKey commented on #706
@dionysius I guess you need to set SilenceUsage to true in that case.

[2020-03-02 13:36] dionysius commented on #706
Unfortunately not, referring to your example
[Original](https://play.golang.org/p/r7RKLp-c_zn) returning the usage and Exit 0
[With Run](https://play.golang.org/p/OlKvaTDiv5q) we can return an error, optionally the usage and Exit 1, but as you can see, the Usage line is double (what I'm referring to) - **Technically the truth, since we've provided a Run() function.**
[With Run + SilenceUsage every

[2020-03-03 04:25] #1042 closed

[2020-03-03 13:55] dmayle commented on #1033
If you also set Flags().SortFlags to false, even without defining local flags, then the sorting will be disabled
[code]

[2020-03-03 16:13] dionysius opened #1049 "Man page generation wrong in latest release"
There's a difference between cobra 0.0.5 and 0.0.6 negatively affecting the resulting man files:

Example: https://play.golang.org/p/zcjf0eQ35xj (copy it locally to compare with v0.0.5)

[code]

The resulting visual representation is wrong: see `man -l /tmp/man-from-006/prog.8`.

While we're at it, can we maybe have a golden file/dir for GenMan and GenManTree to detect syntax changes?

I also get

[2020-03-04 23:21] cornfeedhobo opened #1050 "Discuss the reliance on spf13/pflag"
I've been using cobra for a few years now. It's great. However, I've reached the point that I'm concerned about the reliance upon [spf13/pflag](https://github.com/spf13/pflag).

For example, there is a [failing test for `SetOutput` that I've had a PR open for over a year](https://github.com/spf13/pflag/pull/225). Thankfully that function is known to be good and hasn't been touched in a long time,

[2020-03-04 23:48] jharshman commented on #1050
@cornfeedhobo I do not have merge rights to plfag as I am not a maintainer there.

[2020-03-04 23:50] cornfeedhobo commented on #1050
@jharshman Oh, my apologies for my misunderstanding.

[2020-03-05 17:38] jharshman commented on #1050
@cornfeedhobo no worries - like I said in the previous issue you opened, I definitely can understand your frustration. I will raise the issue with @spf13 and see what can be done.
I do not think forking pflag is the correct answer.

For the time being, please be patient.

[2020-03-06 15:09] falzm commented on #563
More than 2 years since this issue has been reported: users show interest, several solutions have been proposed and yet the problem remains fixed... Is there a point in keeping it open, aside from frustrating even more people coming here from a Google search?

[2020-03-06 16:21] MohamedBeydoun opened #1051 "StringToString flag parsing"
When using the StringToStringP (and StringToString) flag, square brackets aren't included when retrieving the input:

[code]

The following commands return a map with `foo=bar and foo=` respectively
[code]

The following commands return a map with `foo=bar[],hello=world and foo=[],hello=world` respectively
[code]

[2020-03-06 16:28] cpuguy83 commented on #563
You keep issues open b/c it's not fixed.
This project has an issue of lack of active maintainers.

That said there is a push to make a 1.0 release, and with that some minimal changes have been merged recently, including support for context: https://github.com/spf13/cobra/pull/893

So this issue can be closed, I think.

[2020-03-06 20:48] mattalexander-pantheon opened #1052 "Undefined variables in README.md example (`addCmd` and `initCmd`)"
The variables `addCmd` and `initCmd` are used in the README.md example, but the variables are not declared in the example code.

[2020-03-06 22:54] sigil66 commented on #849
This would be very useful. Right now due to the lack of this functionality I utilize a number of hacks to deal with command addition/subtraction based on flags.

Though looking at the code it might be that I need a hook around this area to enable that:

https://github.com/spf13/cobra/blob/master/command.go#L902

[2020-03-09 09:55] bdoner opened #1054 "cobra CLI tool doesn't handle Go modules well"
I'm trying to make a go module outside of my GOPATH using cobra for sub commands. Sadly cobra doesn't seem to handle modules well.

Console output trying to create a go module and initialize cobra:

    C:\>mkdir example

    C:\>cd example

    C:\example>go mod init github.com/bdoner/example
    go: creating new go.mod: module github.com/bdoner/example

    C:\example>dir
    Volume in drive C h

[2020-03-09 10:31] cfi2017 opened #1055 "Disable / Bypass "unknown command" message when running an unknown command"
I'm writing a library wrapper around cobra for [discordgo](https://github.com/bwmarrin/discordgo).

The library works by invoking a user provided command factory that needs to return a root command.

The problem I'm running into is that when a user invokes a command using something like !test, and "test" is not a valid subcommand, cobra outputs `Error: unknown command "test" for "!"`.
While this i

[2020-03-10 06:52] ob-stripe opened #1056 "Additional help topic commands now return "subcommand is required" error"
#922 changed the behavior of all non-runnable commands, including additional help topic commands.

They now return the new `ErrSubCommandRequired` error, which by default results in `subcommand is required` being displayed and exiting with status 1. Both are incorrect for additional help topic commands, whose entire purpose is to display a help message.

Can we restore the previous behavior for ad

[2020-03-10 16:26] bruceadowns commented on #1056
At first glance, I'm in agreement with refining the change to _not_ consider an additional help topic commands an error.

It would help to see some examples and their expected behavior.

[2020-03-11 11:16] lucymhdavies commented on #216
Came across this issue myself.

This suggestion is the way to go:

As an example, I added this to my child command's PersistentPreRun:

[code]

[2020-03-11 17:32] brianpursley opened #1057 "Feature request to support multi-word usage for root command"
Currently, cobra assumes that the command to display for usage in help is the first word.  However, sometimes the root command can actually be multiple words.  This is the case for kubectl plugins for example.

There is a [related issue opened in the krew repository](https://github.com/kubernetes-sigs/krew/issues/521) and it was proposed that the preferred fix may actually be to see if cobra can b

[2020-03-11 18:43] red8888 commented on #770
it would be nice to have guidance or even some kind of default skeleton which includes a test director and hooks that up in an opinionated way. instead of having to search around for how everyone else is doing it their specific quirky way

[2020-03-12 00:21] brianpursley commented on #1057
I think we found a workaround using a custom usage template.

I’ll close the issue and reopen later if needed.

[2020-03-12 00:21] #1057 closed

[2020-03-13 04:00] fanux opened #1059 "About subcommand directory"
[code]
cobra generates subcommand `user` in the same dir of its parent dir, it not very nice.

If I add a command `user` this user command is not `create` subcommand:
[code]

So I think, `create` subcommand in a sub dir is better, like this:
[code]
This will not conflict

[2020-03-16 12:12] yeahdongcn opened #1060 "How to invoke a subcommand by default"
I'm wondering whether a command could be able to call its subcommand by default. The commands hierarchy can be described as the following:

rootCmd (A) ->
   Cmd (B) ->
      Subcommand 1 (C)
      Subcommand 2 (D)

If I don't specify the actual subcommand, say type `A B -args`, is it possible to validate and invoke `A B C -args`?

[2020-03-16 22:02] bcongdon opened #1061 "Non-required flags not shown in tab completion until at least one required flag is set"
For bash tab completion, if there exists a required flag and that flag has not been set, then no non-required flags are displayed in the tab completion list. Is this intended behavior?

https://github.com/spf13/cobra/blob/95f2f73ed97e57387762620175ccdc277a8597a0/bash_completions.go#L71-L74

For example, suppose I have 2 required flags `--req1` and `--req2` and one optional flag `--opt1`. (Suppose

[2020-03-17 03:09] ob-stripe commented on #1056
Hi @bruceadowns, thanks and sorry for the delayed reply.

A concrete example would be the `resources` command in the [`stripe`](https://github.com/stripe/stripe-cli) CLI utility: https://github.com/stripe/stripe-cli/blob/master/pkg/cmd/resources.go

This command doesn't define a `Run` function or any subcommands (i.e. it's an "additional help topic" command). With cobra 0.0.5, the command behaves

[2020-03-17 06:12] bruceadowns commented on #1056
That makes perfect sense, thanks for the clarification. I'd recommend opening a PR, using your proposed solution, with any relatable tests.

[2020-03-18 16:26] umarcor commented on #1060
See #725.

[2020-03-19 03:48] #1060 closed

[2020-03-22 09:13] XyxH opened #1064 "Unresolved reference 'StringVar' and `BoolP`"
rootCmd.PersistentFlags().StringVar(&cfgFile, "config", "", "config file (default is $HOME/.aaa.yaml)")

	// Cobra also supports local flags, which will only run
	// when this action is called directly.
	rootCmd.Flags().BoolP("toggle", "t", false, "Help message for toggle")

[2020-03-22 09:16] XyxH commented on #1064
there is unresolved  reference `StringVar` and `BoolP` in root.go

[2020-03-25 08:30] aiddroid opened #1066 "Global flags is not working, anything wrong?"
With cobra 0.0.6 on MacOS, my command is:
`./tcp-proxy start -f 9999 -t 8080 -c config.conf -l proxy.log`

outputs(configfile and logfile are null):
[code]

Is there anything wrong in my code?

cmd/root.go
[code]

cmd/start.go
[code]

[2020-03-25 16:09] QiWang19 commented on #333
I defined my flag struct and implement the `pflag.Value` interface.
How can I make this flag be used must with `=`, otherwise use the default value?
[code]
Implemented `IsBoolFlag()`,  but does not work

[2020-03-25 23:11] anson627 opened #1067 "Custom value flag definition should allow to pass-in default value"
flag.Var and flag.VarP do not take default value as input argument. This is inconsistent with other flags: e.g.
flag.IntVar(&flagvar, "flagname", 1234, "help message for flagname") can be called like this, and 1234 is the default value for flagvar

one potential solution I can think of, is to take default value as string, and uses value.Set to parse default value string: e.g.
flag.Var(&flagvar, "f

[2020-03-26 04:22] domgoer commented on #1066
Flags will be parsed after `rootCmd.Execute()`. You can view it in `OnInitialize()`

[2020-03-26 06:02] aiddroid commented on #1066
Got it , I can access the config in `initConfig` callback

[2020-03-26 06:03] #1066 closed

[2020-03-27 19:14] innovia commented on #823
just a quick bug fix (should be checking if `cmd.args == nil`  b/c cmd is struct flags, help and more...) as well as context for where to place this

[code]

[2020-03-27 19:16] innovia commented on #823
I still get an error - now its always the default

[2020-03-27 20:39] #1056 closed

[2020-03-27 20:40] jharshman commented on #1050
This has been resolved - I will start to triage issues on pflag.

[2020-03-27 20:40] #1050 closed

[2020-03-27 20:50] jharshman commented on #1064
@XyxH, please elaborate more in your issue description. Are you finding this in the documentation or in the actual code base?

[2020-03-27 20:50] jharshman commented on #1067
This would be handled by the pflag library not cobra. Please submit your issue at github.com/spf13/pflag.

[2020-03-27 20:50] #1067 closed

[2020-03-27 20:53] jharshman commented on #1054
What version of cobra generator are you using?
Please take a look at the instructions for using the generator.
https://github.com/spf13/cobra/blob/master/cobra/README.md#cobra-init

[2020-03-27 20:56] jharshman commented on #1052
The example code is meant to be an excerpt of some generated code to give the reader a general idea. It is not meant to be copied and pasted. However, if you think a more complete example would be useful, please submit a PR for this change.

[2020-03-27 22:02] stgraber opened #1069 "`ErrSubCommandRequired` is no longer exported"
Hi,

The `lxd` client has logic checking for that particular error being returned, starting a few hours ago, our builds broke as this error is no longer exported.

[2020-03-27 22:07] stgraber commented on #1069
That revert which was pushed today is the culprit.

It does fix the need for special handling of cases where ErrSubCommandRequire would previously appear, but its complete removal also means that anyone with mitigation for it in place is now finding themselves broken.

[2020-03-27 22:47] jharshman commented on #1069
@stgraber If you need this you can pin to 0.0.6, however this change will be reverted going forward.

[2020-03-28 03:02] XyxH commented on #1064
@jharshman,Thank you very much for your reply, this problem appears in the root.go file of my project.
May be a problem with my GO environment

[2020-03-28 04:23] jharshman commented on #1064
@XyxH I haven't been able to replicate this issue. Can you provide more information? What version of Cobra are you using? Go version? Are you using Go Modules?
The more detailed you are the better myself and others will be able to assist you.

[2020-03-28 04:31] jharshman commented on #1055
@cfi2017 , have you tried setting `SilenceErrors` or `SilenceUsage` on the Command?

[2020-03-28 04:32] #1021 closed

[2020-03-28 04:36] jharshman commented on #1051
@MohamedBeydoun this is not handled by Cobra but rather by Pflag. Please file your issue there.
github.com/spf13/pflag.

[2020-03-28 04:36] #1051 closed

[2020-03-28 04:37] #1006 closed

[2020-03-31 00:49] ashishgalagali commented on #747
https://github.com/spf13/cobra/issues/206#issuecomment-471959800

[2020-03-31 22:47] jharshman commented on #1069
@stgraber I'm going to go ahead and close this issue. Looks like you've already resolved it on your end. Feel free to reach back out.

[2020-03-31 22:47] #1069 closed

[2020-03-31 22:49] jharshman commented on #1064
@XyxH, I'm going to close this as I cannot reproduce your issue without more detailed information.
Feel free to reach back out.

[2020-03-31 23:05] #235 closed

[2020-03-31 23:11] #259 closed

[2020-04-01 16:00] xchapter7x opened #1071 "Replace deprecated SetOutput func with SetOut and SetErr everywhere"
Follow on for this PR: https://github.com/spf13/cobra/pull/1053

We should remove all usage of deprecated `SetOutput` and replace with `SetOut` & `SetErr`

[code]

[2020-04-01 22:58] innovia commented on #970
for me using the `--`  like in kubectl exec command separates the positional args from the cobra flags

for example:
[code]

[2020-04-02 03:41] marckhouzam opened #1076 "Completions do not suggest sub-commands if there are ValidArgs"
When a command has both `ValidArgs` and sub-commands, the completion script only proposes the `ValidArgs`.  Cobra should do also propose non-hidden sub-commands in the completions list.

I cannot see a reason not to do this...

This was brought up in https://github.com/spf13/cobra/pull/1035#issuecomment-605511493

To illustrate, in the program below, the `rootCmd` specifies `ValidArgs` of `rs` and

[2020-04-02 15:14] JAicewizard opened #1077 "The unknown commnd error should be easily recognizable"
Currently an unknown command error is indistinguishable from any other error from within cobra, so it is hard to differentiate between actual errors, and the user mistyping something.

[2020-04-03 02:01] voithos commented on #1000
This is still relevant. (For the bot)

[2020-04-03 12:49] g3rzi opened #1079 "Can't add new cobra CLI command when the file is inside a folder"
I am using cobra to build CLI.
I want to create a new command called config that will be inside the file `config.go` and the file inside the folder `proxy`.

This is the structure:
[code]
I created the command with cobra:
cobra add config
It created the file under cmd and I moved the file to be under the proxy folder (as appeared in the structure above).

The problem is that the command is not bei

[2020-04-03 15:00] kamalgrover commented on #741
Guys, Is there a workarround for the same ?

[2020-04-03 17:32] ghostsquad commented on #682
I'm also curious how this works. I'm not sure how you use the annotations to group commands.

[2020-04-03 17:32] ghostsquad commented on #836
related to #682

[2020-04-03 20:28] Skarlso commented on #741
Not that I know off, sorry. :/

[2020-04-04 01:59] umarcor commented on #952
Not stale.

[2020-04-04 05:13] jharshman commented on #1079
@g3rzi there's a few things that jump out at me from your code snippet.
1. You're importing "MyProject/cmd" but you're already in the package cmd.
2. Your call to AddCommand(), is prefixed with the package name cmd.

Try fixing these things first and then see if it starts working for you.

[2020-04-04 07:15] g3rzi commented on #1079
Thanks, I succeeded to fix it by adding :
[code]

to the main.go file.

[2020-04-04 07:15] #1079 closed

[2020-04-04 08:53] mwmahlberg commented on #243
@jharshman I can recheck, if that is of any help.

[2020-04-04 16:47] wfernandes commented on #1077
@JAicewizard Could you provide some more details on what errors seem indistinguishable?

Is this something that suggestions could help with?
https://github.com/spf13/cobra#suggestions-when-unknown-command-happens

[2020-04-04 19:00] knz commented on #961
I confirm it's still a bug.

[2020-04-05 00:30] umarcor commented on #907
Not stale. It would still be useful.

[2020-04-05 03:47] brutalgg opened #1081 "Choices for flags"
I'm trying to implement something like the following from python argparse using cobra.
`parser.add_argument('-l', dest='loglevel', choices=['error', 'warning', 'info', 'debug'], default='error', help='Logging level. Default is error')`

From digging through the documentation I don't think anything like this exists so I wanted to see if something like this has been considered as a feature?

[2020-04-05 11:11] JAicewizard commented on #1077
when running `rootCmd.Execute()` it returns an error when it encounters an unknown command, even though the error is already handled gracefully within cobra itself.
In my program I panic when I encounter an error from cobra, which is sensible since there is no graceful way to handle errors in starting my application.
But there is no way to differentiate between errors that are already gracefully h

[2020-04-05 22:00] corneliusweig commented on #881
I'll close this, because it looks like the cobra authors are happy with the standard zsh way of putting the script into fpath.
Everyone else can take inspiration from https://github.com/GoogleContainerTools/skaffold/pull/3137/files#diff-0b1a7023adc427fe5ea26e6964d2936bR47

[2020-04-05 22:00] #881 closed

[2020-04-05 22:14] MarkDBlackwell commented on #319
@jharshman Well. Surely, the fact that Cobra includes the phrase, "While you are welcome to provide your own organization" in its README implies that Cobra can handle "your own organization." Interestingly, it can't—as you, yourself, say.

The cobra generator will not work, with just _any_ file structure.

[2020-04-06 00:37] rsteube commented on #881
@corneliusweig i don't remember it exactly but i did notice a small side effect with the explicit `compdef` call (or the missing `_skaffold` call).
I think it was that when using `fpath` the completion initially needed a second `<tab>` to actually work (so on the very first try it probably just loaded the script).

so instead of:
`compdef _skaffold skaffold`
maybe sth. like this (compquote is only

[2020-04-06 00:42] eine commented on #838
This is still an issue. It will be closed when #841 (or some other solution) is merged.

[2020-04-06 10:16] XyxH commented on #1064
@jharshman Thank you very much for respond my question，I‘m sorry for I did not responsd you in time ，cause my computer was broken。   now I’m going to rebuild my work environment。at last  ，thank you！

[2020-04-06 18:23] wfernandes opened #1083 "Create a separate document for projects using Cobra"
As discussed in this issue https://github.com/spf13/cobra/pull/1034
Create a separate file listing all the projects using Cobra and reference this in the main README.

[2020-04-06 18:23] wfernandes commented on #1083
/assign
I'll work on this today.

[2020-04-06 20:57] jharshman commented on #1077
@JAicewizard, it seems pretty common to me to return an error in the case of an unknown command. Much like many other CLIs, when they are misused, an error and usage message is returned to the caller.

Are you returning errors to the caller with `RunE` ?

[2020-04-06 23:18] jharshman commented on #1081
Cobra uses github.com/spf13/pflag for all of it's flag operations. Your issue sounds similar to this one:
https://github.com/spf13/pflag/issues/236

[2020-04-07 00:52] brutalgg commented on #1081
Thank you for that information. I'll add my support to the issue in pflag and close this issue.

[2020-04-07 00:52] #1081 closed

[2020-04-07 09:19] JAicewizard commented on #1077
@jharshman I dont use RunE, and usually in go once the error has been handled properly it doesn't get propagated up. The `rootCmd.Execute()` ran succesfullly, it didnt encounter any unrecoverable errors. It did encounter a problem but it has already been handled, and thus the caller doesnt have to take care of it anymore. Returning an err implies that the caller has to deal with it because it hasn

[2020-04-07 10:04] padurean opened #1084 "Command called with wrong usage does not show `Short` description"
**How can i get the Short usage displayed when a sub-command is called with wrong args?**
Note in the example below how `./mycommand scan --help` shows `Short` description (i.e. _Iterate over keys having the specified prefix_), but when the command is called with wrong arguments (i.e. `./mycommand scan 1 2`) it does not show it.

[code]

[code]

[2020-04-07 15:15] jharshman commented on #1077
@JAicewizard , I understand where you're coming from. However, in this case, the correct response to an unknown error is to return it to the user. This is common behavior among other CLI utilities.

[2020-04-07 15:21] #804 closed

[2020-04-08 10:20] scriptonist commented on #718
[code]
Are you looking for this @kasunsiyambalapitiya

[2020-04-09 00:11] eine commented on #724
This is still relevant.

[2020-04-09 03:30] jpmcb opened #1085 "Include "assigning" workflow for issue commentors"
As a maintainer of the cobra project, I want to be able to automatically assign myself to issues.

This workflow would then allow for clear communication on who is working on what issues and who to contact regarding troubleshooting.

For example, in the [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/issues/89947#issuecomment-610894732) repository, this is handled by a bot. There

[2020-04-09 09:50] Serhioromano opened #1086 "How to check if flag was set or not?"
I have Bool type flag and when I use `cmd.Flags().Get()` it is hard to understand if flag if false or flag is not set?

[2020-04-09 13:15] underrun commented on #739
I hadn't noticed the reply here - sorry.

The bare "--" doesn't work if the goal is to have a single interface where
the end user doesn't know what's under the hood. It wouldn't be obvious to
the end user what is supposed follow the "--" at all in that case.

The desire is to provide a seamless experience by hanging natively or
proxying help info/error into and flags.

On Thu, Apr 9, 2020, 00:05 g

[2020-04-09 18:04] vsoch commented on #848
Note that this issue was resolved, see https://github.com/GoogleContainerTools/container-diff/issues/306 for the issue that was opened, and then https://github.com/GoogleContainerTools/container-diff/pull/330 for how to fix. It came down to having an unecessary flag parsing. Closing issue!

[2020-04-09 18:04] #848 closed

[2020-04-10 03:26] #689 closed

[2020-04-10 12:51] marckhouzam commented on #724
@eine This works for me in a small test program:
[code]

[2020-04-10 18:00] jharshman commented on #1086
@Serhioromano this would be a question for github.com/spf13/pflag. However, I think this should answer: https://godoc.org/github.com/spf13/pflag#FlagSet.GetBool

[2020-04-10 18:00] #1086 closed

[2020-04-12 08:09] Serhioromano commented on #1086
No that will not solve my problem. Imagine I use viper for configuration and flag as an alternative. I want a flag to override viper loaded settings.

Imagine my default flag state is `true` and in the configuration it is false

When I use `cmd.Flags().GetBool()` I'll get `true` if the flag is not set, but I do not know if the flag was set in cli or not.

Imagine in parameters I have true but I se

[2020-04-13 00:43] eine commented on #571
AFAIK, this is not supported yet.

[2020-04-13 05:45] realB12 commented on #748
Thanks for the hint. Really not very intuitive! It should be documented at least!

[2020-04-13 07:32] frederikhors commented on #568
Nope, @github-actions.

[2020-04-13 16:27] umarcor commented on #952
Ref #968 #1074 #1075

[2020-04-13 16:35] xchapter7x commented on #952
it seems like from a visibility and ease of maintenance perspective, keeping everything under github would allow for cleaner & more clearly defined user access.

Echoing a point from above, the integrations all being here might make it easier for contributors (maintainers and non-maintainers alike) to more easily help on tech-debt/workflow type chores as well as new feature development.

My only q

[2020-04-13 17:29] kamalgrover commented on #741
I used the "source" member to overcome this.

[2020-04-13 17:31] kamalgrover commented on #741
Here is the code snippet.
`func main() {

	header := &doc.GenManHeader{
		Title:   "shorthand",
		Section: "1",
		Manual:  "My Product Manual",
		Source: "Copyright (C) 2020 All Rights Reserved.",

	}
	//Disables the autogenerated comment at the end of the man page.
	cmd.RootCmd.DisableAutoGenTag = true
	err := doc.GenManTree(cmd.RootCmd, header, "doc/")
	if err != nil {
		log.Fatal(err)
	}
}`

[2020-04-13 17:48] jharshman commented on #952
Our current experimentation with Github Actions haven't actually worked so far.  So you see where I am reluctant to adopt this further.

[2020-04-13 18:02] umarcor commented on #952
I do understand that. However, unlike the actions that you already merged, #968 is absolutely harmless. This is because #968 is directly equivalent (just a translation) of the current Travis workflow. Conversely, the actions contributed in #1074 and #1075 do make permanent modification in the repo, and are based on not-yet-well-developed resources. I'm sure that using GHA for the known workflows w

[2020-04-13 18:29] jharshman commented on #952
No these were less than low impact and do not make any permanent modifications or changes.

@umarcor I am all for using GH actions, but as of right now - I am not sold on the direction or utility. However, the other maintainers and myself will discuss it in planning.

[2020-04-13 20:23] DarthHater opened #1091 "Vulnerability in downstream library: gorilla/websocket"
Hi there!

I work on the team that writes `nancy`, and in a scan of a project where I use `cobra`, I discovered that your downstream dependency on `gorilla/websocket` is effected by: https://github.com/gorilla/websocket/security/advisories/GHSA-jf24-p9p9-4rjh

Not sure if this would make `cobra` vulnerable, but I figured I'd file an issue, as upgrading to `1.4.1` seems trivial and gets you out of

[2020-04-14 06:10] z3ntu commented on #350
It looks like #1048 added support for fish shell and there's e.g. #1070 for zsh

[2020-04-15 23:35] jpmcb opened #1092 "[Bug][Contributor workflow] Github actions labeler doesn't work for forks"
I've noticed that the labeler Github action isn't working. [Here's an example](https://github.com/spf13/cobra/pull/1044/checks?check_run_id=583192945)

It looks like the `actions/labeler` Github action won't work with PRs opened from forks (for security reasons): https://github.com/actions/labeler/issues/12

And looks like this was recently clarified: https://github.com/actions/labeler/commit/2b75

[2020-04-16 00:00] marckhouzam commented on #568
@frederikhors I can confirm this now works thanks to #567. I've actually made use of it here
https://github.com/spf13/cobra/blob/8c638d3f9077b692f7d12a212a74be98326d11a2/custom_completions.go#L102

[2020-04-16 17:00] #1083 closed

[2020-04-16 20:33] xchapter7x commented on #1092
seems like the `periodic-labeler` would wrap what we have now, and make it work as intended.

the `boring-cyborg` might be better long term, as it seems to have more logic and features.

id maybe implement `periodic-labeler` as a bugfix, and then explore future enhancements to the feature set with things like `boring-cyborg` or anything else that might be available in the marketplace.

[2020-04-17 19:03] ghostsquad commented on #665
@willmitchell you could write a variadic `calc` command. Each argument describes an action that is done in order, so the available actions for this example is:

[code]

This is similar to `lfold` in various languages. https://medium.com/zendesk-engineering/foldable-go-d74fb9cf2fc9

[code]

[code]

[2020-04-17 19:08] ghostsquad commented on #412
ya, these seems like very strange behavior.

[2020-04-18 05:43] bogem commented on #412
Maybe just call `mergePersistentFlags` in `VisitAll` 🤔

[2020-04-18 18:07] marckhouzam commented on #986
This article gives some reason why sourcing a completion script isn't great: https://medium.com/@jzelinskie/please-dont-ship-binaries-with-shell-completion-as-commands-a8b1bcb8a0d0

That being said, what you can do is add the missing compdef line to your .zshrc (or something of the sort) and then sourcing the completion file will work.

[2020-04-19 19:01] wfernandes commented on #675
@jharshman I took a look into this and it seems that we have two options:
1. **We update the [cobra/README](https://github.com/spf13/cobra/blob/090d94f4743e6590e11c154c45ccbca01a6eaf9a/cobra/README.md#configuring-the-cobra-generator) to reflect the current behavior.**
1. We make the changes required to address the issue in case we want to support LICENSE templating.

Currently the code has two pat

[2020-04-20 02:57] marckhouzam opened #1093 "Go completion broken when MarkPersistentRequiredFlag() called on root command"
While working on supporting required flags for Go completions (Fish and Zsh v2) I hit the following bug.

If a persistent flag on the root command is marked as required, e.g.,
[code]
it breaks the `__complete` command.

This is because the `__complete` command, being a child of the root command, inherits the required persistent flag, and since that flag is not specified when calling `__complete`,

[2020-04-20 02:59] marckhouzam commented on #1093
This program shows the issue:
[code]
and then calling
[code]

[2020-04-20 16:05] jpmcb commented on #739
From what I understand of your use case, I believe the double dash `--` should work nicely:

    POSIX.1-2017

    12.2 Utility Syntax Guidelines

    Guideline 10:

    The first -- argument that is not an option-argument should be accepted as a
    delimiter indicating the end of options. Any following arguments should be
    treated as operands, even if they begin with the '-' character.
[From

[2020-04-20 18:37] marckhouzam commented on #1093
This problem turns out to be wider than I originally thought.

If a persistent flag on the root command is marked as required, it breaks any sub-command that uses the `DisableFlagParsing` field.

The good news is, this should be easy to fix, and will fix the `__complete` command at the same time.  I will post a PR soon.

[2020-04-20 19:32] marckhouzam commented on #1093
Fix posted in #1095

[2020-04-20 23:04] bit101 opened #1096 "Required Persistent Flags are enforced on the help command"
Steps:
1. In a bare cobra app, create a persistent flag named `foo`. Whatever type you want.
2. Mark it as required.
3. Add a `bar` command.
4. Compile and run `appname help bar`

Result: it will tell you that you are missing the required `foo` flag.

Expected: required flags should not be checked on the `help` command.

Is there any workaround?

[2020-04-20 23:36] marckhouzam commented on #1096
I haven't tried to reproduce but I just posted a fix for something very similar for commands that user DisableFlagParsing.  We could do something similar for your case. See #1095

[2020-04-21 00:40] bit101 commented on #1096
Thanks. I just started digging into Cobra this weekend, so not very familiar with the internals. Otherwise I would probably have had a go at fixing it myself.

[2020-04-21 00:41] marckhouzam commented on #1096
I confirm that I can reproduce this problem with the master branch.

@bit101 Can you explain your use case? I'm asking because the problem you describe will only happen if you set a required persistent flag on the **root** command.  This seems like an unusual thing to do in my mind.  It would imply that the flag in question would have to be used all the time, for every sub-commands possible.

[2020-04-21 00:48] bit101 commented on #1096
Yes, that's what I was doing. Again, just started using Cobra, so if this is not a normal pattern, it could be an edge case. Now that I think of it, my sub-commands might be better off as args as they are all performing similar actions.

[2020-04-21 00:49] bit101 commented on #1096
This would also explain why nobody else reported what seemed an obvious bug to me. :)

[2020-04-21 13:22] xchapter7x commented on #1092
This PR should address this bug: https://github.com/spf13/cobra/pull/1097

[2020-04-21 14:15] prvst opened #1098 "How to change the unknown command error code"
Is it possible to change the error return type from 0 to 1 ?

So instead of getting this
[code]

We can get this:
[code]

[2020-04-21 14:55] jpmcb commented on #1091
Thanks for marking this issue! I've looked into this and it appears that `gorilla/websocket` is a dependency of `spf13/viper`:
[code]
but is _not_ a indirect dependency for cobra itself:
[code]
and therefore does not appear in our `go.mod` file.

I believe we can close this issue and I'll go ahead and raise the issue with the viper repo!

[2020-04-21 17:56] DarthHater commented on #1091
Perfecto! Thanks a ton @jpmcb . If you or others are into it I can send you a PR with `nancy` so that y'all can get alerted when these happen?

[2020-04-21 18:03] hypergig opened #1100 "SetOut and SetErr don't seem to work as expeceted?"
Apologies if my implementation is busted but if I do the following:
[code]
I see this behaviour:
[code]
I know `cmd.Println` sends to stderr by default, so I expect ^this to look more like this maybe:
[code]
Am I using the `Set` functions incorrectly or is this a bug?

[2020-04-21 18:19] jpmcb commented on #741
@jharshman I did some investigation on this and seems that `cmd.DisableAutoGenTag` will only skip placing the auto gen tag in the body while the header "source" will get auto populated with the auto gen tag if nothing is specified.

I was able to work around this by specifying something other than an empty string:
[code]

Would we expect setting `cmd.DisableAutoGenTag = true` to disable the string

[2020-04-21 19:16] dalu commented on #789
Not stale

[2020-04-21 21:20] marckhouzam commented on #1100
It's a bug in `PrintErrln()`
https://github.com/spf13/cobra/blob/090d94f4743e6590e11c154c45ccbca01a6eaf9a/command.go#L1181-L1183

#894 wants to fix it but there are concerns about breaking existing scripts that have adapted to this bug.

[2020-04-21 22:00] jharshman commented on #675
@wfernandes yeah at this point I think it would be best to update the README to reflect that we don't support templating those fields.

[2020-04-22 07:39] avirekghatia opened #1101 "How to print the short usage for command"
I am new to Cobra so please bear with me. I was just trying to use the examples in the README.md.
I used the following example and ran `go build`

### cmd - <cmd> --help
### expected output - Hugo is a very fast static site generator
### Actual output - A Fast and Flexible Static Site Generator built with
                love by spf13 and friends in Go.
                Complete documentation is av

[2020-04-22 15:50] porgull commented on #823
Ideally, this would be more tightly integrated into the API so that help text will still give you information about e.g. the other commands that are possible instead of dumping the help text for the subcommand (the default behaviour when using one of these fixes without supplying a subcommand) and make it more clear that it's running a de-facto subcommand. Perhaps

[code]

Not sure this is optimal

[2020-04-22 18:38] 1akshitha opened #1102 "How to support pagination when printing a list"
I want to print a long list as a response to a command. Is there a way to handle pagination like git pager. (Eg: ```git log``` and by pressing enter you can hover through the history)

[2020-04-24 04:57] lhttjdr commented on #1086
We need it in the following example.
- option is not set
- option is set without any value
- option is set with a value
[code]

Is it possible now?

[2020-04-25 17:14] adicostil commented on #1101
The docs are not correct, the code is showing the long description first. https://github.com/spf13/cobra/blob/master/command_test.go#L811

you can update the help template to use the short desc
	rootCmd.SetHelpTemplate(`{{with .Short}}{{. | trimTrailingWhitespaces}}
	{{end}}{{if or .Runnable .HasSubCommands}}{{.UsageString}}{{end}}`)

see original version: https://github.com/spf13/cobra/blob/b84ef

[2020-04-25 20:01] marckhouzam commented on #1086
Would this help:
https://github.com/spf13/pflag/blob/7b22f689a41a1727c42eb02aaa1492d26402c592/flag.go#L177

Used here:
https://github.com/spf13/cobra/blob/11ba63fc3bc37818c471fc7912783e6909da4645/command.go#L989

[2020-04-25 21:38] elsbrock commented on #1031
I too was surprised by this and did not see that in the command's output:

[code]

Should't this be added there?

[2020-04-25 21:39] elsbrock commented on #1031
I too was surprised by this and did not see that in the command's output:

[code]

Should't this be added there?

[2020-04-26 09:17] omersiar commented on #1102
I think `[more](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/more.html)` is POSIX compliant command which can be used.

[2020-04-26 11:25] divramod opened #1105 "subcommand immediately exits when calling external program"
Hey, thx for the awesome tool!

I just started with cobra and golang and have a weired (not understood by me) behaivior of subcommands.

at first i created two commands (parent: config and sub config-edit).

both commands are starting fine, i can see the initial output of the function beeing called.

Now i wanted to start vim from the subcommand with the following code:

[code]

[code]

After doin

[2020-04-27 03:16] wfernandes commented on #534
@jharshman I think we can close this one for now. I'm assuming if there were legal ramifications of the cobra code-generator, it would've been raised by now. WDYT?

[2020-04-27 03:21] wfernandes commented on #184
Yeah, I looked into this and I see that the generated `root.go` has the following code at the bottom.
[code]

I know of a project that I'm currently working on that followed this same practice (coincidentally) and the error from `viper.ReadInConfig()` wasn't propagated correctly.

@jharshman If you'd like I can take a look into this 🙂

[2020-04-27 04:24] wfernandes opened #1107 "cobra init cmd documentation seems to be incorrrect"
As I was playing around with `cobra init` I noticed the help documentation seems to be at odds with the [cobra/README](https://github.com/spf13/cobra/blob/11ba63fc3bc37818c471fc7912783e6909da4645/cobra/README.md#cobra-init) documentation.

The `cobra init --help` prints out the following:
[code]

However, as I was using the command and reading through the documentation, the following statements se

[2020-04-27 08:05] lewisparma opened #1109 "Command context is not properly passed on to sub-commands"
When using 'ExecuteContext' on the parent command, the context is not properly passed on to sub commands. It's passed on only the first time, then on the following invocations the first passed value is used. The culprit seems to be this section from commands.go:

`
	// We have to pass global context to children command
	// if context is present on the parent command.
	if cmd.ctx == nil {
		cmd.ctx

[2020-04-27 20:43] jharshman commented on #1107
I think the text in the readme does a good job depicting it's behavior:

However, as you have brought up, these comments should be fixed. Namely the comment that `init` will not use an existing directory with contents. As it is, init will overwrite conflicting contents in a directory.

    (e.g. github.com/spf13/hugo);

[2020-04-28 17:49] #675 closed

[2020-04-28 22:59] #1107 closed

[2020-04-29 14:56] Serhioromano commented on #1086
@marckhouzam looks good. Not exactly what I thnk should be done, but myight help in some cases.

[2020-04-29 18:21] DarthHater commented on #1091
Now that viper/etc... are updated, do you plan to update to the newest viper? I imagine we can do that on our end, but if cobra by default has it on a newer version, that's nice :)

[2020-05-01 16:55] jpmcb commented on #1091
Sorry for the delay on this!

We have been investigating using Dependabot to automatically update these dependencies. So hopefully in the future, we can catch these quickly!

But for now, it looks like viper hasn't released the changes I made to the Gorilla dependency. And it appears that it remains an indirect dependency, unused by cobra. So I'm not sure if a `replace` in the `go.mod` of this pro

[2020-05-01 17:08] DarthHater commented on #1091
It might show I'm a bit green with the `replace` functionality, but I had thought that was for only using local forks?

As well:

https://github.com/sonatype-nexus-community/nancy

I work on that project and it can be used in CI/CD to report on vulns in the libraries you are using. Automatically updating dependencies gives me a bit of panic (personally), because you have a pretty high trust level

[2020-05-01 17:51] jpmcb commented on #1091
At the end of your `go.mod` file, you can add a replace statement for different versions of a package. You can also do this to replace packages with local "vendors" or forks (like if you were working on a new feature locally and wanted to try it out)

So, for example, here's a simple test app generated with the cobra cli:
[code]

here's the go.mod:
[code]

and here's the resulting go.sum:
[code]
S

[2020-05-01 20:46] mateimicu commented on #252
I also have this use case, the `PersistentPreRun` of the `rootCmd` validates some input, and for a subcommand group, I validate another set of inputs.

I worked around this with
[code]

I think changing now the implementations to run all the `PersistentPreRunE` would be a major breaking change ... If this topic develops I may have some time to contribute.

Maybe a flag can be introduced like `Trav

[2020-05-06 03:53] TileNguyen commented on #1102
Did the cobra support that? (support pagination)

[2020-05-07 21:04] #1076 closed

[2020-05-08 01:18] #1093 closed

[2020-05-08 07:06] dev-drprasad opened #1111 "Question: How to disable message Run 'xxxxx --help' for usage. ?"
I am working on plugin system where caller calls commands on plugin binary (built using cobra). ex: `plugin run something`.
Caller want to know if any error happens while running command and it doesn't make sense sending message `Run 'xxxxx --help' for usage.` to caller. Is there any way to disable this message ?

[2020-05-08 16:04] jpmcb commented on #1111
The `Command` struct has the following field:
[code]
Setting this to `true` will disable the "Run ... --help' for usage" output. Hope this helps!

[2020-05-08 20:17] marckhouzam commented on #868
I see this too.
I think the quick solution is to add the missing non-equal form of required flags.
So instead of only having
[code]
it would need to be
[code]

[2020-05-09 15:53] briandealwis commented on #1047
We hit this with [Skaffold](https://github.com/GoogleContainerTools/skaffold/issues/4129#issuecomment-625459163) which uses Cobra to configure its commands.

[2020-05-10 15:30] dev-drprasad commented on #1111
@jpmcb Thanks

`SilenceErrors: true` completely silence errors.

errors like:
[code]
are useful for caller/user to debug problems.
Just "Run ... --help' for usage" is unnecessary when cobra commands executed by other program.

Currently I see, there is no way to achieve this. But this is useful in some cases.

I would like to raise a PR for this behaviour, if maintainers wave green flag

[2020-05-10 21:11] jpmcb commented on #1111
Since errors are returned from within the Cobra API upon failure, I believe that this can be handled by your top level application code. When defining your command, disable both error output and command usage output:
[code]
Then, when calling execute on this command, capture and print the error message however you like:
[code]
This way, you maintain complete control of the error messaging and outp

[2020-05-11 05:29] dev-drprasad commented on #1111
@jpmcb Thanks. Your solution works for me.

[2020-05-11 05:29] #1111 closed

[2020-05-11 11:20] umarcor commented on #952
Ref #1097 #1112

[2020-05-11 11:38] umarcor commented on #952
From https://github.com/spf13/cobra/pull/968#issuecomment-626648821:

[2020-05-11 12:12] umarcor commented on #1091
FTR, #1012 is an open PR to update viper, pflag and yaml.

@jpmcb, that'd be [really nice](https://github.com/spf13/cobra/issues/907)! That's how I keep my fork of cobra up to date.

[2020-05-12 18:19] myaut commented on #770
Thanks for the reference test implementation, it was helpful. However, i'm struggling with resetting flags to default values. I've ended up with this monstrosity:
[code]
Is there a better way to reset flags?

[2020-05-13 12:11] mislav commented on #1105
I can't tell what causes it, but it would be helpful if you handled the error from `editCmd.Run()`. Maybe right now it's reporting something, but you are discarding it.

[2020-05-13 12:32] kri5 commented on #350
I took a quick look at the code handling completion in the helm command, and there seems to be a slight issue with renamed binaries, where the generated completion would not have a proper name.

Nowadays fish completion is derivated from the bash one, and there is a bash snippet in case the binary has been renamed from the default.

A Better way of handling it might be to pass the binary name as t

[2020-05-14 06:20] MonstraG opened #1114 "Argument containing space doesn't parse correctly via PersistentFlags().GetString()"
I have the following (simplified) code to get the arg value:
[code]

I've tried following constructions
[code]

[2020-05-15 11:47] mayankshah1607 opened #1115 "Document usage for fish completion"
Now that https://github.com/spf13/cobra/pull/1048 has been merged, it would be nice to have some documentation around how to generate completion scripts for `fish` shell :)

[2020-05-15 12:17] marckhouzam commented on #1115
We have this for now: https://github.com/spf13/cobra/blob/master/fish_completions.md

And PR #1070 completely re-organises the documentation around completion.

You can read the proposed new documentation here for now:
Completion in general: https://github.com/VilledeMontreal/cobra/blob/feat/zshCompletionV2/shell_completions.md
Fish section: https://github.com/VilledeMontreal/cobra/blob/feat/zshCo

[2020-05-15 13:48] copernico commented on #678
Hi, I'm having the same issue, how did you solve it?

[2020-05-16 05:25] mayankshah1607 commented on #1115
Thanks for the quick response, @marckhouzam !
Can we add a link in the readme, like [this](https://github.com/spf13/cobra#generating-zsh-completions) ? Becomes a lot easier to find :)
Thanks

[2020-05-16 10:44] marckhouzam commented on #1115
PR #1070 is reworking all the doc for completion.  But I don't know if/when it will be accepted.  In the mean time you could always post a PR to add the link you suggest to the main README.

[2020-05-18 12:34] alejandrojnm opened #1116 "ValidArgsFunction work in bash but not in zsh"
I have this function that works perfectly in bash but not in zsh.

[code]

[2020-05-18 14:54] marckhouzam commented on #1116
Zsh support for `ValidArgsFunction` is being added to zsh in #1070.

[2020-05-18 15:40] alejandrojnm commented on #1116
Yes i know, i use the v1.0.0 of cobra, but it still doesn't work, Do I need something else?

[2020-05-18 15:51] marckhouzam commented on #1116
PR #1070 has not been merged yet 😄, so you cannot use `ValidArgsFunction` with Zsh right now.

[2020-05-18 17:00] den-is commented on #778
hm... I've encountered the same issue. But since this issue is quite silent, apparently there is proper way to handle maps between cobra and viper?
I would be glad if anyone shares that tip.

[2020-05-18 18:04] alejandrojnm commented on #1116
Thank you very much, I will leave the function implemented in any way, until the PR are merged

[2020-05-20 07:15] raju249 opened #1119 "Taking struct as input in Flags"
I am working on a CLI where I have to accept a flag as JSON body

Example:
```go run cli.go  --parent.child1=value1 --parent.child2=value2 --parent.child2=value3 ...```

HERE, `value2` and `value3`  is also a JSON structure. Basically, any `--parent.child2` values are in JSON format. But they are to be accepted in below format.
[code]
 and they are to be converted to below format
[code]

This need

[2020-05-20 11:50] ankitm123 opened #1120 "Is there a way to mark --version as deprecated?"
I am trying to mark the inbuilt `--version` flag as deprecated before removing it completely, but it does not seem to work.
[code]

As a hack, I can put the deprecation message in the version template, but is there a cleaner way to achieve this?

[2020-05-20 12:46] marckhouzam commented on #1116
@alejandrojnm If you are satisfied with the explanation, could you close this issue?  Thank you.

[2020-05-20 12:48] #1116 closed

[2020-05-20 13:16] umbynos opened #1121 "functions in fish shell completion auto-generated file should not contain "-" character"
As asked by @marckhouzam [here](https://github.com/spf13/cobra/pull/1117#issuecomment-631455437), I'm opening this issue.
I'm working on [this PR](https://github.com/arduino/arduino-cli/pull/663) and I noticed a problem with the auto-generated cobra completion file for fish shell: If the root command to complete contains a dash character in the name "-" (e.g. `arduino-cli`) the autocompletion will

[2020-05-20 15:22] joshuabezaleel commented on #1059
Hi @fanux @jharshman , I am interested in this issue if that would be okay but I think I need to ask some clarification questions. Suppose that we are still discussing the example of creating a `user` subcommand under `create` command like the one mentioned above. Does it mean that:
1. `user.go` and other subcommands under `create` folder will be have a package name of `create`?  e.g. `package cre

[2020-05-21 12:04] fanux commented on #1059
For example，my app command line like this:
[code]
So I want generate codes:
[code]
If all create.go in cmd dir, it will failed, and mess...
A better way is `cmd/user/create.go` and `cmd/group/create.go`

[2020-05-21 12:06] fanux commented on #1059
Other example:
[code]
[code]

[2020-05-21 15:17] joshuabezaleel commented on #1059
@fanux
Yes I got this so far. But by having `cmd/user/create.go` it means that
1. `create.go` file package is using `package user` and
2. either `cmd/user/create.go` needs to import package `cmd` to add `userCmd` (`cmd/user.go`) so that we can use `cmd.UserCmd.AddCommand(createCmd)` or it works otherwise, where
`cmd/user.go` needs to import package `cmd/user` so that we can use `userCmd.AddCommand

[2020-05-22 02:01] fanux commented on #1059
So I think only subcommand rely on parent command, can we regist subcommand in cmd/user/create.go? Set userCmd as public. So in cmd/user/create.go we can regist subcommand like this: UserCmd.AddCommand(createCmd), cmd/user.go no need import any more.

[2020-05-22 20:10] marckhouzam commented on #1121
Thanks @umbynos.
I noticed that Cobra's bash completion was replacing `:` for commands.
https://github.com/spf13/cobra/blob/94a87a7b83bda98e918cf7a4793f41372a5e4139/bash_completions.go#L350
  It does not affect Fish, but if the program has a `:` in the name (not a good idea, but supported), it would cause problems.

I will post a PR that replaces both `-` and `:` for fish completion.

[2020-05-23 00:42] marckhouzam commented on #1121
Fix in #1122

[2020-05-25 17:10] jschalz opened #1124 ""initCmd", "addCmd" in README.md causes errors on start"
When following the tutorials for example files in the `README.md`, it currently throws errors when building.

Expected behavior:
[code]

Current behavior:
[code]

It's fixed by commenting out the lines in the example `root.go` file referring to these commands.
[code]
Alternatively, users have to create `initCmd()` or `addCmd()`.

(This is an incredibly low priority issue, but would be a nice-to-fi

[2020-05-26 01:16] jschalz commented on #1124
Related PR: https://github.com/spf13/cobra/pull/1125

[2020-05-26 15:22] christian-korneck opened #1126 "hide Aliases from showing in help?"
Hello cobra community, thanks for this great project and community! I have a quick question:

Is it possible to suppress `Aliases` to show up in the help screen of a cobra app? I basically would like to get rid of the whole "Aliases" section below:

[code]

I know it's possible to hide flags from showing up in help (`cmd.Flags().MarkHidden("myflag")`). Is it possible to hide Aliases as well?

If a

[2020-05-26 17:15] geniass commented on #266
For me this doesn't create the subdirectory automatically.

Once I create the subdir, it creates a .go file inside it, but as discussed above the file has invalid syntax.

The next problem is that the subdir is considered a separate package (I think?)
Since the parent command, e.g. `rootCmd` is not exported, it can't be directly referenced.

@spf13  Should we make the parent command public? Add a

[2020-05-26 17:24] geniass commented on #266
I think this issue is a duplicate right?
https://github.com/spf13/cobra/issues/1059

[2020-05-27 02:16] shettysurajk opened #1127 "<space>[tab][tab] executes the command handler instead of just autocomplete"
When a command is complete with all keywords <space> [tab][tab] executes the command handler.
Instead it should just autocomplete.

[2020-05-27 10:37] joshuabezaleel commented on #266
@geniass Yes, I think these 2 issues convey the same problem statement.
I saw that there is a PR submitted already by @Wulfheart (?)

[2020-05-27 10:39] Wulfheart commented on #266
Gonna reply later or in a few days.

[2020-05-27 10:48] marckhouzam commented on #1127
Hi.
Can you give a specific example of what you mean?
What version of Cobra are you using?
What shell?

[2020-05-27 13:37] umbynos opened #1129 "Square brackets in the description causes problems with zsh"
I think I found a bug with zsh completion in cobra 1.0.0: If I put square brackets in a command description they do not get escaped correctly causing problems.
[Here](https://github.com/arduino/arduino-cli/blob/6061cbf6dab73f6386c6e6f333a8c145d08315ce/cli/cli.go#L90) there's an example of the line causing problems.
I "patched" this behaviour with:
[code]
I think this will be fixed in https://githu

[2020-05-27 18:12] joshuabezaleel commented on #266
No worries. Will be happy to help and contribute if I can be of one @Wulfheart :slightly_smiling_face:

[2020-05-27 22:57] shettysurajk commented on #1127
Example:

command subcommand <space> [tab][tab]
-> executes the RunE function

Cobra version: 0.0.3

Shell: Bash

[2020-05-27 23:40] marckhouzam commented on #1127
Cobra 0.0.3 is a pretty old version.
Could you try with 1.0?

[2020-05-27 23:42] shettysurajk commented on #1127
I did try with 1.0. Same behavior seen.

[2020-05-28 00:53] marckhouzam commented on #1127
How did you generate and load the bash completion script for the program?

Can you provide a small program to reproduce the problem?

[2020-05-28 01:39] tsnaik opened #1130 "Adding content to default help command output"
I understand that we can override default help command using `cmd.SetHelpCommand(cmd *Command)`

But I would like to append additional text to the auto-generated one without writing the help command from scratch. Is there a way to do that?

[2020-05-28 17:26] tsnaik commented on #1130
Right now I am adding additional string like this. Not sure if it has any unintended effects

[code]

[2020-05-29 16:04] #1055 closed

[2020-05-29 16:05] #1054 closed

[2020-05-30 01:41] marckhouzam commented on #1129
I just realized this is a duplicate of #899.
And I can confirm the problem is not present with #1070.

[2020-06-02 02:48] Matias-Barrios opened #1131 "Same subcommand for multiple commands"
I have a project structure in my Go app as follows :
[code]

The list.go is a subcommand of users. Now I have created the subcommand posts.go under rootCmd.

Now I want to create a subcommand for posts with the same name than for users, I want to create a list subcommand.

The problem is that If I do this :

cobra add list --parent postsCmd

The list.go file will get overwritten. I know that doing

[2020-06-03 00:20] ghostsquad commented on #836
Not stale

[2020-06-03 00:21] ghostsquad commented on #682
Not stale

[2020-06-03 12:14] marckhouzam commented on #1061
From what I have read in other issues and PRs, this is the expected behavior.  However, I agree it could be improved upon.

First, it was an oversight that a second required flag isn't given priority.  In the above example, `mycmd --req1=foo --[tab][tab]` should only suggest `--req2`.  I believe this is how the current zsh completion behaves, and how #1070 behaves for both zsh and fish. In my mind

[2020-06-03 15:57] Luap99 opened #1132 "Add options to the shell completion to hide persistent flags on subcommands"
It would be great to have a option to exclude persistent flags in the shell tab completion on its subcommands. It would also be helpful to add a option to disable the suggestion with the equal sign, so that the flag is only shown once.
When working with many flags it would be helpful to have these options so the shell doesn't suggest that much.

[2020-06-04 01:31] marckhouzam commented on #1132
I wonder if this is a good idea.  Persistent flags are meant to be applicable to the command and all its sub-commands.  This allows the user to use the flag anywhere in the sub-command tree.
For example, a `--debug` flag could be made persistent from the root command.  So you could do:
- `program --debug`
- `program subcmd1 --debug`
- `program subcmd1 subcmd2 --debug`

A user would benefit from be

[2020-06-04 04:47] joshuabezaleel commented on #1131
I think this is talking about the same issue with #1059

[2020-06-04 07:46] pacoxu commented on #994
Actually, most of kubernetes system components like kube-scheduler (https://github.com/kubernetes/kubernetes/blob/release-1.18/cmd/kube-scheduler/app/server.go#L70) use cobra to run commands.

In some case, the component configuration will change and reload/restart(when config changes) is a basic feature.

[2020-06-04 08:17] Luap99 commented on #1132
I agree but i we have many persistent flags on the main command which are rarley used and only a few flags on the subccomand which are importent. So an option to change this behavior would be very helpful.

[2020-06-04 12:39] christian-korneck commented on #1126
Found the solution [here](https://stackoverflow.com/a/62121424/4039255). Closing issue.

[2020-06-04 12:39] #1126 closed

[2020-06-06 01:35] InTheCloudDan commented on #1059
I'm also interested in this capability. To model after the kubernetes style of `verb noun` for commands.

[2020-06-07 13:35] marckhouzam commented on #867
@amitsaha I just fell upon this suggestion. You had a great idea! Coincidentally, Cobra has actually started using this technique to provide Fish shell completion (#1048).  The same is being applied for zsh completion in #1070.

A hidden command was used to achieve this. So you can do things like:
`myprog __complete sub<ENTER>`
to obtain the completion.

[2020-06-09 12:10] fullstack-zhangpeng opened #1133 "How do I get the flag of the currently executing command?"
I didn't see that description in the article.

Looking forward to your reply

[2020-06-11 10:27] thomasgloe opened #1134 "Multi-language support for CLIs?"
I would like to support multiple languages for my CLI using cobra. Implementation for commands is no problem, but is it correct that there is currently no support for the text output generated by cobra itself (e.g., "Usage", "Flags", "Use "mycmd [command] --help" for more information about a command.")?

[2020-06-13 15:08] dkozlov commented on #279
@robertgrimm is there any solution to this issue in 2020?

[2020-06-13 16:13] robertgrimm commented on #279
@dkozlov I'm still using the same solution I described in my last comment.  It's been working well for us.

[2020-06-14 17:43] MichaelMure opened #1137 "WARNING: go-md2man does not handle node type HTMLSpan"
When generating Markdown documentation for https://github.com/MichaelMure/git-bug, I get this warning: `WARNING: go-md2man does not handle node type HTMLSpan`

My understanding is that it's because I'm using `<arg>` in `Command.Use` to indicate an argument, in addition to `[]` to indicate an optional element:

[code]

Could you clarify what is the expected format for `Command.Use` if any ?

[2020-06-15 12:59] MichaelMure opened #1138 "Cobra pull a lot of dependencies through viper"
When using Cobra in a project, a lot of dependencies are added that are not actually useful for that project. Those comes through viper, which is used in `cobra/cmd`, that is a CLI tool only useful occasionally for the developer.

[code]

Those are quite heavy dependencies: Etcd, systemd, protobuf, prometheus, websocket, GRPC ...

Could you add a secondary `go.mod` file in the `/cobra` folder ? Th

[2020-06-15 13:13] MichaelMure commented on #1138
I went ahead and did that: https://github.com/spf13/cobra/pull/1139

It reduced the dependency count in my project from 313 to 148.

[2020-06-15 22:45] jharshman commented on #994
Still not related to this project. Cobra does not handle configuration, only runtime flags. It does however integrate well with https://github.com/spf13/viper which does handle hot reloads.

https://github.com/spf13/viper#watching-and-re-reading-config-files

[2020-06-16 00:13] marckhouzam commented on #1133
I'm not sure of the correct way to do this. The one way I know of is to loop over all flags and check if `flag.Change` is true which seems to indicate the flag is present.  See here:
https://github.com/spf13/cobra/blob/ed7b60e2987d2cd54d6a391379e33effdacdadf9/command.go#L993

I'd love to hear of a better way if there is one.

[2020-06-16 17:41] poy opened #1140 "GenMarkdownTreeCustom doesn't have a way to append a footer"
[GenMarkdownTreeCustom](https://godoc.org/github.com/spf13/cobra/doc#GenMarkdownTreeCustom) has a way to a header (`filePrepender` arg), however there is not a first class way to add a footer.

[2020-06-16 20:49] #1000 closed

[2020-06-19 10:14] RexG opened #1141 "[Question] How to implement streamed output, like the '-f' in 'kubectl logs -f'"
many thanks

[2020-06-19 12:40] mwxxhdb commented on #1141
@RexG
I'm not a expert of golang, here is my solution hope this can help you.
[code]

[2020-06-20 02:06] BunnyBrewery commented on #1134
Are you talking about if there is multi-language support for default help message in Cobra?

[2020-06-21 13:58] vinamra28 commented on #981
Hi @umarcor , just wanted to know what's the status of this issue and when can we expect in cobra ?
Thanks

[2020-06-21 15:11] marckhouzam commented on #981
For completion, there was progress.
* completion of the help command
This was just fixed in #1136.
* completion for commands aliases
Commands aliases are not completed, and I believe this was done on purpose.  However, it has been suggested that if no other completion is possible then a command's alias should be completed.  No progress on implementing this as far as I know although there was an at

[2020-06-22 03:31] vinamra28 commented on #981
Hi @marckhouzam , thank you for the information. But I wanted to know the status of subcommands suggestions as in the current cobra version we don't get the subcommands suggestions. example:-

Current situation :-
[code]

Expected:-
[code]

[2020-06-22 06:16] RexG commented on #1141
thank you, @mwxxhdb

actually, i was trying to implement something like what `kubectl logs -f` do

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go#L336

but which is kind of complex, a easier way will be much better

[2020-06-22 06:52] #1141 closed

[2020-06-22 07:48] thomasgloe commented on #1134
Yes and I've already checked the source code, where strings are encapsulated in the UsageTemplate. The way to go seems to change the usage template with SetUsageTemplate.

If I have enough time, would it be of interest to include a small example in the docs?

[2020-06-22 12:55] hypergig commented on #1100
Not really stale yet Mr. Bot... waiting for #894

[2020-06-22 21:43] umarcor commented on #981
#841 is ready for merging since March 2019. Two users did already review it, and a maintainer was requested to do so in June 2019: https://github.com/spf13/cobra/pull/841#event-2397521310. If/when #841 is merged (some day), the work in #842 may continue.

[2020-06-22 22:02] jpmcb commented on #741
@jharshman this can be closed as #1104 addressed this

[2020-06-23 04:28] vinamra28 commented on #981
@umarcor Thanks for the update :slightly_smiling_face:

[2020-06-29 17:30] Xeoncross opened #1148 "How should you return errors from commands?"
I don't see anything in the documentation about returning errors (the function signature has a void return as well).

Are you supposed to just fmt.Print/log.Print/Zap/Logrus/etc.. yourself from inside the function?

Should you use `cmd.PrintErr()` or some other command?

Can someone update the `/README.md` with pointers?

[2020-06-29 19:16] marckhouzam commented on #1148
Are you maybe looking for the `RunE` field, which allows to return an error?

[2020-06-30 05:35] unguiculus opened #1149 "ume va mount"

[2020-06-30 05:36] #1149 closed

[2020-06-30 05:36] unguiculus commented on #1149
Sorry, this was an accident with the keyboard.

[2020-07-01 20:02] arrase commented on #691
You can do it with the https://golang.org/pkg/plugin/ , a plugin example:

[code]

Then load it

```cobraplugins.Load(rootCmd, "test/test.so")```

From https://github.com/arrase/cobraplugins

And then:

[code]
Run the plugin

[code]

[2020-07-02 11:31] erdaltsksn commented on #1148
For the simplest form, you may use the following:

[code]

You can use my library [erdaltsksn/cui](https://github.com/erdaltsksn/cui) as a ui library if please.

[code]

<img width="725" alt="cui-ss" src="https://user-images.githubusercontent.com/22197800/86353791-857ad480-bc70-11ea-8797-07e4c763064a.png">

[2020-07-03 10:01] adityakrgupta25 opened #1151 "How to have app name be different from the root command?"
Let's say `app_name` is `xyz` but I want my root CLI command to refer as `hugo`, is it possible to do so?

I tried this in xyz/cmd/root.go this-
[code]
But could not get the desired results.

[2020-07-04 15:32] chien860722 commented on #587
It works for me.
seeting
DisableFlagsInUseLine: true

[2020-07-06 14:34] erdaltsksn commented on #1131
I think it is better idea to use `parent_sub.go` file naming conventions for sub commands. For example:

[code]

**user.go:**

[code]

**user_list.go**

[code]

[2020-07-06 19:45] vsolakhian commented on #1047
The init() functions of all Cobra defined commands are running in the beginning of the execution of any command. You used the same variable - deviceUUID  - for all commands, so the last default value will be assigned to the deviceUUID variable.

[2020-07-08 14:17] ryanoonayr commented on #866
Can we reopen this bug?  Looking at the docs I think this feature should work like this...  If we define a string flag called foo on a command (dmd) and set it's default value to the empty string and we set NoOptDefVal to "NOARGS" then I expect the code should handle the following cases like this:

1. cmd                  -> foo is set to ""
2. cmd --foo        -> foo is set to "NOARGS"
3. cmd --f

[2020-07-09 09:31] seanprince opened #1152 "Vulnerability in yaml.v2 v2.2.2 dependency"
cobra depends on yaml.v2 v2.2.2 which contains the vulnerability reported here - https://github.com/kubernetes/kubernetes/issues/89535

[2020-07-09 14:57] #741 closed

[2020-07-10 12:32] #1152 closed

[2020-07-10 16:08] blacktop opened #1155 "Override -h flag"
Is there a way for me to override the -h (normally help cmd) flag for a single command?  I have a command where `-h` is the most intuitive short version of the `--header` flag, but `-h` is already the `--help` flag.

Thank you for your help and an amazing tool.

[2020-07-10 16:44] eparis commented on #1155
I believe if you manually define a --help flag without the -h shorthand you can us -h in your flag.

[2020-07-10 20:07] #1148 closed

[2020-07-10 20:12] #1121 closed

[2020-07-11 07:26] donggangcj opened #1156 "return non-zero exit code upon non-runnable subcommand"
[code]

[2020-07-11 07:34] donggangcj commented on #1156
/assign

[2020-07-11 12:03] umarcor commented on #952
@jharshman, any update?

[2020-07-11 12:12] umarcor commented on #1156
Ref #842.

[2020-07-11 19:10] marckhouzam opened #1160 "DisableFlagParsing not respected by completion logic"
When a command sets `DisableFlagParsing=true` it requests that Cobra not handle flags but instead pass them directly to the `Run` functions to let the command handle them itself.  However, the completion logic does not do the same.  Instead, it attempts to complete flag names even if `DisableFlagParsing==true`.

The completion logic should instead ignore flags when `DisableFlagParsing==true` and p

[2020-07-11 19:10] marckhouzam commented on #1160
I'll be posting a PR to address this.

[2020-07-13 17:55] #1013 closed

[2020-07-13 18:00] jpmcb commented on #1091
This has been updated in #1012 and the dependency graph now shows:
[code]
Thanks so much for raising the issue and letting the maintainers know about this security vulnerability!

[2020-07-13 18:00] #1091 closed

[2020-07-13 18:13] DarthHater commented on #1091
@jpmcb not a problem, glad to help!

[2020-07-13 21:30] bufdev commented on #1129
This seems to be a problem if you have brackets in the flag line, and I can't figure out how to mitigate this. For example:

[code]

This causes an issue. How would you mitigate this using #1070?

[2020-07-13 21:51] marckhouzam commented on #1129
Hi @bufdev, #1070 will fix this problem automatically, nothing special for you to do.  However, #1070 is not yet part of an official Cobra release, which is why it is not working for you.

You could choose to point your `go.mod` file to a more recent commit of the Cobra repo if you really want to get access to #1070 right away; or else, you will need to wait for the next Cobra release.

[2020-07-13 22:00] bufdev commented on #1129
Ah perfect! Thank you so much, makes sense!

[2020-07-14 01:29] marckhouzam commented on #1129
@jpmcb I believe we can close this one now that #1070 has been merged.

[2020-07-14 01:31] #1129 closed

[2020-07-14 01:37] jpmcb commented on #788
Going through and cleaning up some issues - it seems this was addressed with the adoption of go mod in late march 2019. Thanks for noting this issue and please feel free to open a new one if you're seeing similar problems!

[2020-07-14 01:37] #788 closed

[2020-07-14 01:47] marckhouzam commented on #932
@andig The documentation for shell completion has extensively changed recently. An example of generating the different completion scripts can be found here:
https://github.com/spf13/cobra/blame/884edc58ad08083e6c9a505041695aa2c3ca2d7a/shell_completions.md#L56

Does the current documentation address your concerns?

[2020-07-14 01:50] marckhouzam commented on #986
I believe @jharshman has confirmed he prefers to follow zsh's best practices and not include the `compdef` line in the script: https://github.com/spf13/cobra/pull/1070#discussion_r408961812

The program using Cobra can easily choose to add this line itself.

@jharshman I believe we can close this issue.

[2020-07-14 01:56] marckhouzam commented on #771
@dfinke Cobra now supports auto-completion for 4 different shells: `bash`, `zsh`, `fish`, and `powershell`.  If you still need to add support for a new shell, it has become much easier because Cobra now provides a hidden command which can be used to obtain completions from different shell scripts, the `__complete` command.  Both `zsh` and `fish` use this command as their sole source of completions

[2020-07-14 02:01] marckhouzam commented on #867
This suggestion is actually being by Cobra.  I believe this issue can be closed . /cc @jpmcb

[2020-07-14 02:04] marckhouzam commented on #107
With `zsh` completion now having feature parity with `bash` completion, we can probably close this issue?

/cc @jharshman @jpmcb

[2020-07-14 02:06] marckhouzam commented on #350
With Cobra now offering shell completion for `bash`, `zsh`, `fish` and `powershell`, I believe we can close this issue.

/cc @jharshman @jpmcb

[2020-07-14 02:55] jharshman commented on #986
Yes, that is correct @marckhouzam.  Closing this issue.

[2020-07-14 02:55] #986 closed

[2020-07-14 13:21] ericvn commented on #107
At least as long as one is using a commit later than the last release (admittedly, I haven't tried with that commit yet).

[2020-07-15 09:13] kraymond37 opened #1165 "zsh completion doesn't work"
I create a completion command as [this](https://chromium.googlesource.com/external/github.com/spf13/cobra/+/HEAD/shell_completions.md) said. Bash completion works well, in contrast, zsh doesn't work.
Did I miss something?  I like cobra very much, and really wish it could work.

[2020-07-15 17:01] fkrauthan commented on #726
I would like this feature as well. The biggest Python CLI framework `click` supports this. It is very useful if you are trying to build build tools where a user might want to decide what they execute. E.g. `./mycommand clean build` or `./mycommand build` or `./mycommand clean build start`. Using the `-` character as separator would be a very bad hack as it does not conform with any "normal" CLI ex

[2020-07-15 17:56] Luap99 commented on #1165
How do you load your completion script?
I think you need to do `yourprogram completion zsh > "${fpath[1]}/_yourprogram"`

[2020-07-15 18:02] #107 closed

[2020-07-15 18:03] #867 closed

[2020-07-15 18:03] #350 closed

[2020-07-15 22:02] umarcor commented on #726
@fkrauthan, would you mind elaborating on what you mean with "normal CLI execution"?

It feels to me that `clean`, `build` and `start` are clearly arguments of a single command. That's how I would implement it in any CLI (be it bash, Python, go, a makefile...). Hence, I'd say that your feature request can be reworded as allowing cobra subcommands to execute other subcommands, which is precisely wh

[2020-07-15 22:07] fkrauthan commented on #726
@umarcor If you are trying to build a tool like `gradle` for example the current system will not work. The idea is that I can specify N number of functions that I want to execute. It is not necessarily the code or some command that would decide which sub command (or Main command) should be called. And I've never seen any other CLI tool use a separator character (like `-`) to separate different com

[2020-07-15 22:40] umarcor commented on #726
Sure it will. See [dbhi/run](https://github.com/dbhi/run#similar-projects).

It is the user who decides which subcommands (better named tasks/targets/procedures) to execute, by providing them as a list of args. The (sub)command which handles it is only reponsible for taking the input (strings) and converting them to function calls.

I believe that is because @idetoile wanted to preserve the possib

[2020-07-15 22:48] fkrauthan commented on #726
@umarcor No I explicitly want the capability of args. A real example of an application written (at the moment in Python) that I was going to port to Go.

`./mytool --services=service1,service2 build start logs --services=service1`

which would build and startup service1 and service2 but only listen to logs of `service1`

`./mytool --services=service1,service2 build --with-ui start`

which would bu

[2020-07-15 22:52] umarcor commented on #726
Can you guarantee that all your subcommands have no additional subcommands? I.e. you only have the root command and a single level of subcommands in the hierarchy?

[2020-07-15 22:55] fkrauthan commented on #726
In my particular case yes. I think the API could easily say if you enable this multi subcommand feature you can not have nested commands or something along that lines (I believe click does it that way).

[2020-07-15 23:02] umarcor commented on #726
So, if you guarantee that:

- None of the subcommands has a subcommand.
- None of the (sub)commands can accept "regular" positional arguments. Technically, you need to allow it for the root command, but in practice that's the list of strings that you are going to manipulate.
- All labels must be provided using `--key=val` and NOT `--key VAL`.

Then, you can modify @idetoile's example to "break" co

[2020-07-15 23:07] fkrauthan commented on #726
But that is exactly my point. I have to pretty much write a light command processor on-top of cobra. While I think it is a valid use-case to be provided out of the box by cobra itself (maybe even with an elegant solution for supporting subcommands in a chaining scenario). It's ok if you don't think its worth implementing I was just commenting that I would support a feature implement like this and

[2020-07-15 23:25] umarcor commented on #726
I see your point. However, I beg to differ. The "light command processor on-top of cobra" is, in fact, ~10 lines of code to split a single list of strings into multiple lists of strings. It's a single ordered for loop (two were used above, but that's not required) with a very light evaluation (always the first char). I can hardly imagine how it can be done easier... Just configuring whichever API

[2020-07-16 00:20] fkrauthan commented on #726
@umarcor just one quick question. After looking at @idetoile solution it seems like a sub command called `and ` was created to accomplish this. Is it possible to have this run logic as part of the root command or would that screw up the help generation? If that is not possible then I think that would be a reason for why it should be implemented in the core framework. If the logic however this can

[2020-07-16 00:49] umarcor commented on #726
My guess is that you can use it as part of the root command, but you need some "key" to skip the regular parsing. IIRC, the logic is as follows:

- If the first argument is a flag of the root command, it is processed.
- If the first argument is a subcommand, it is executed, and the remaining args/flags are passed to it.
- If the first argument is neither a flag nor a subcommand, it and all the rem

[2020-07-16 01:05] marckhouzam commented on #1115
Now that #1070 has been merged we have better docs for fish completion.  An example is given here:
https://github.com/spf13/cobra/blame/master/shell_completions.md#L57

I believe this issue can be closed. /cc @jpmcb

[2020-07-16 04:05] fkrauthan commented on #726
Hmm yeah I've noticed that. I don't think that is a very elegant solution and would require people to use this tool differently then before (something I would like to prevent and instead have a drop in solution). I guess for now I will be stuck with the Python version unless someone gets to implement this feature in cobra.

[2020-07-16 10:25] phoenix-young opened #1167 "Can not use the result of command `git diff` as arguments in command line"
![image](https://user-images.githubusercontent.com/3194004/87660499-bd663980-c791-11ea-87d6-7202cc601f11.png)

[2020-07-16 12:03] pencil001 opened #1168 "How can I call other subcommands?"
I have built an cli application like this:
[code]
Now, I want to add another subcommand `all`, like this
[code]
This command will execute all the logic of sth1, sth2, ...., sthn.

Naturally, I don't want to duplicate codes,  so I have two options:

* use `cmd.Run`
[code]
This option has some cons. If other command has defined `PreRun` or `PostRun`, it will ignore those code. And those flags define

[2020-07-16 13:18] marckhouzam commented on #1165
@Luap99 is probably right and it points out that the documentation is mis-leading:
https://github.com/spf13/cobra/blame/master/shell_completions.md#L36
I'll post a PR.

[2020-07-16 15:13] umarcor commented on #1168
@pencil001 you might find the discussion in #726 interesting.

[2020-07-16 19:40] Luap99 opened #1170 "Complete subcommands after local flag"
Currently the custom completion does not complete subcommands after a local flag was given.
I think this is wrong since a program can use subcommands even when there were local flags on the root/parent command given.

https://github.com/spf13/cobra/blob/b95db644ed1c0e183a90d8509ef2f9a5d51cc29b/custom_completions.go#L283-L287

[2020-07-16 19:42] Luap99 commented on #1170
@marckhouzam Is there a special reason for this? Otherwise i would like to change this behavior.

[2020-07-16 21:45] marckhouzam commented on #1170
Yes this is on purpose for local flags. If a command has a local flags it does not get inherited by a subcommand, so it would be wrong to suggest subcommands as they will fail with the error "unknown flag".

However for persistent flags, which are inherited by subcommands, we do complete subcommands.

Makes sense?

[2020-07-17 06:31] kraymond37 commented on #1165
@Luap99 Thanks. I found `source` didn't work, and `yourprogram completion zsh > "${fpath[1]}/_yourprogram"` didn't work either. Both `yourprogram completion zsh > "${fpath[1]}/_yourprogram"` and `compinit` should be executed, and sometimes also need to relogin shell.

[2020-07-17 13:29] Luap99 commented on #1170
Yes that makes sence.

However in the podman it works like this:
`podman --remote ps -a` remote is a local flag on the root cmd here.

I found out that this works because `TraverseChildren` is set to true on the root cmd so i would say the completion logic should respect TraverseChildren too.

I can open a PR if you agree?

[2020-07-17 15:37] marckhouzam commented on #1170
Aha. I'm not familiar with the `TraverseChildren` logic.  You may have found a scenario that was missed.  Yes please go ahead and file a PR.  Thanks!

[2020-07-17 15:55] marckhouzam commented on #1170
@Luap99 could you check if the case you mention works with bash completion?

[2020-07-17 16:49] marckhouzam commented on #1170
That is strange. I mimicked the local flag behavior on what was done in the current bash completion... See #288

[2020-07-17 16:53] Luap99 commented on #1170
I also noticed there is bug when you have a local boolean flag there is no subcommand completion but after you provide one argument subcommands are suggested. This doesn't happen with a Persistent Flag.

[2020-07-17 17:46] Luap99 commented on #1170
Nevermind my test setup was wrong ;)
It works for local boolean flags, but for local flags with arguments subcommands are still getting completed. So it is inconsistent.

[2020-07-17 20:09] #1115 closed

[2020-07-19 02:09] marckhouzam commented on #1170
I've looked further into this and it seems to be a bug with the current bash completion.
When using a boolean flag or the `=` form for a flag (e.g. integer), sub-commands are not shown after a local flag as expected, but when using the no-`=` form, it does complete:
[code]
My guess is that this bug was introduced along the way as the bash completion script evolved.
I will open an issue to keep tra

[2020-07-19 02:15] marckhouzam opened #1172 "Sub-commands are sometimes completed in bash after a local non-persistent flag"
PR #288 added the feature that sub-commands should not be completed if they follow a local non-persistent flag. This is because the sub-command doesn't know that flag and the sub-command would therefore fail.

However, currently, when using the no-`=` form of a local non-persistent flag with bash, sub-commands are being completed.

Note that when using a boolean flag or the `=` form for a flag (e.

[2020-07-19 02:16] marckhouzam commented on #1170
I've opened #1172 for the discrepancy with bash.

[2020-07-19 03:12] marckhouzam commented on #1165
Thanks @kraymond37, we have updated #1169 to include that information.
If that is satisfactory, would you mind closing this issue here?

[2020-07-20 03:57] #1165 closed

[2020-07-20 06:29] freemindLi opened #1174 "dragonfly download file from aws s3"
Does Dragonfly support downloading files from Amazon's S3 file storage system？

[2020-07-20 15:46] jpmcb commented on #1174
I believe this issue may have been intended for the https://github.com/dragonflyoss/Dragonfly repo. Looks like cobra is used by dragonfly but we don't implement any features or behavior.

[2020-07-20 15:46] #1174 closed

[2020-07-21 18:36] kevingentile opened #1176 "Update OnInitialize usage in readme"
Initializing a viper config similar to the documentation in the readme will not make config values available for use inside init.

## Fails to get "experimental" true from config
[code]

## Succeeds getting "experimental" true from config
[code]

[2020-07-23 06:48] hard88 opened #1177 "windows flag parse error"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.5 darwin/amd64
</pre>

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code></summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/wrh/Library/Caches/go-build"
GOENV="/Users/wrh/Library/Application Support/go/env"
GO

[2020-07-25 08:37] infixint943 opened #1178 "Example usage of ValidArgsFunc"
Could a simple example for `ValidArgsFunc` be given, as it's not clear what exactly we ought to do in it.
A simple example could be listing all `.go` files in the current directory.

Thanks for this library!

[2020-07-25 21:37] infixint943 opened #1179 "Dynamic autocompletion doesn't work in zsh"
Dynamic autocompletion of `flags` and `arguments` doesn't work on `zsh`, tho it works perfectly fine on `bash`.
Here is a simplified version of my code:
[code]

I had a look at the generated zsh and bash completion files (following the instructions mentioned [here](https://github.com/spf13/cobra/blob/master/shell_completions.md)). Seems to me like the below part (copied from the `bash` file) isn't

[2020-07-26 10:44] Luap99 commented on #1179
What cobra version are you using?

[2020-07-26 10:55] Luap99 commented on #1178
There are examples in the [shell_completions.md](https://github.com/spf13/cobra/blob/master/shell_completions.md) file.

[code]

[2020-07-26 11:02] infixint943 commented on #1178
Yes, thanks a lot! Maybe adding it to the readme for better visibility?

[2020-07-26 11:04] infixint943 commented on #1179
`v1.0.0` - the latest version

[2020-07-26 11:09] Luap99 commented on #1179
The shell completion functions have recently been revised. Not all features are available in v1.0.0. You can still upgrade to the latest master commit.

[2020-07-26 11:10] infixint943 commented on #1179
Okay, thanks a lot for the info!

[2020-07-26 11:14] infixint943 commented on #1179
Yes, it works on using the module from the master branch. Maybe adding this to the documentation (or publishing a new release) would be better!

[2020-07-26 11:14] #1179 closed

[2020-07-28 17:59] electrofelix opened #1180 "No way to clear initializers for testing"
If you use a function to create a new instance of a command to allow testing with different arg inputs without risk of state being preserved between tests, can run into an issue if also making use of `cobra.OnInitialize()`.

Currently using `cobra.OnInitialize()` to work around spf13/viper#397 as being able to mark some flags as required if a particular flag is not set before the preRun fires to c

[2020-07-29 10:02] #1151 closed

[2020-07-29 21:09] #709 closed

[2020-07-30 07:25] Luap99 commented on #1177
Why do you not call the exe directly?
[code]

This should also work:
[code]

[2020-07-30 07:47] Luap99 commented on #1167
By default cobra tries to parse flags. If the output of your "command parameter" contains words starting with `-` cobra will  interpret these as flags and since you did not define them cobra throws an error.

In your case it would properly better to pipe the git output into your programm and read it from stdin.

However if you want to use it as arguments you can call it like this to indicate that

[2020-07-30 09:01] wonderflow commented on #761
Amost 2 years paased, is there any movement on this issue?

[2020-08-03 17:53] jpmcb commented on #1176
Hi @kevingentile can you provide a little more context to how you are running and configuring your rootCmd?

When adding an initilizer via the `cobra.OnInitialize` method, each of the the associated functions should get invoked during `PreRun` on command execution. Looks like what you are doing in your second example is subverting this behavior by calling `initConfig` manually. I'm not sure this i

[2020-08-04 13:40] shakeel opened #1182 "go get -u github.com/spf13/cobra/cobra fails with fatal error"
Unable to `go get` due to the following errors:
[code]

I tried to investigate and it looks like gopkg.in is down.

[code]

## Go Version

[code]

## Go Env
[code]

[2020-08-04 14:04] shakeel commented on #1182
Looks like this was a temporary glitch and it is working now.

[2020-08-04 14:04] #1182 closed

[2020-08-05 03:48] wfernandes commented on #1178
@infixint943 I hope the information in `shell_completions.md` was useful.
@Luap99 thanks for helping out.

Since `ValidArgsFunction` is related to shell completion, it makes sense to have it in the `shell_completions.md` file. I believe the original intent was to avoid adding more information to the main README. What do you think?